/.angular/cache
.idea
node_modules
jspm_packages
npm-debug.log
debug.log
!src/systemjs.config.extras.js
!src/systemjs.config.js
!src/systemjs-angular-loader.js
!src/assets/scripts
*.js.map
e2e/**/*.js
e2e/**/*.js.map
!dist/
_test-output
_temp
