<div style="width: 100%;position: relative;">
    <div [ngSwitch]="dialogType">
        <div *ngSwitchCase="TypeOfDialog.Standard">
            <h1 mat-dialog-title style="display:inline-block; cursor:move; padding-top: 15px" mat-dialog-draggable>
                {{'device.tag-property-title' | translate}}
            </h1>
            <mat-icon (click)="onNoClick()" style="float:right;cursor:pointer;color:gray;position: relative; top: 10px; right: 0px">clear</mat-icon>
            <div style="max-height: 540px; overflow-y: auto; overflow-x: hidden;">
                <div style="display: block;">
                    <div class="my-form-field" style="display: block;margin-bottom: 10px;">
                        <span>{{'device.tag-property-device' | translate}}</span>
                        <mat-select [(value)]="data.device.name" style="width: 350px" [disabled]="true">
                            <mat-option *ngFor="let device of devicesValue()" [value]="device.name">
                                {{ device.name }}
                            </mat-option>
                        </mat-select>
                    </div>
                    <div class="my-form-field" style="display: block;margin-bottom: 10px;">
                        <span>{{'device.tag-property-name' | translate}}</span>
                        <input [(ngModel)]="data.tag.name" style="width: 350px" type="text" (input)="onCheckValue($event)">
                    </div>
                    <div class="error" *ngIf="error">
                        <span>{{error}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="TypeOfDialog.Simple">
            <h1 mat-dialog-title style="display:inline-block; cursor:move; padding-top: 15px" mat-dialog-draggable>
                {{'device.tag-property-title' | translate}}
            </h1>
            <mat-icon (click)="onNoClick()" style="float:right;cursor:pointer;color:gray;position: relative; top: 10px; right: 0px">clear</mat-icon>
            <div style="max-height: 540px; overflow: hidden;">
                <div style="display: block;">
                    <div class="my-form-field" style="display: block;margin-bottom: 10px;">
                        <span>{{'device.tag-property-device' | translate}}</span>
                        <mat-select [(value)]="data.device.name" style="width: 550px" [disabled]="true">
                            <mat-option *ngFor="let device of devicesValue()" [value]="device.name">
                                {{ device.name }}
                            </mat-option>
                        </mat-select>
                    </div>
                    <div class="my-form-field" style="display: block;margin-bottom: 10px;">
                        <span>{{'device.tag-property-obj-name' | translate}}</span>
                        <input [(ngModel)]="data.tag.name" style="width: 550px" type="text" (input)="onCheckValue($event)">
                    </div>
                    <div class="my-form-field" style="display: block;margin-bottom: 10px;">
                        <span>{{'device.tag-property-path' | translate}}</span>
                        <input [(ngModel)]="data.tag.address" autocomplete="off" style="width: 550px" type="text" (input)="onCheckValue($event)">
                    </div>
                </div>
                <div class="error" *ngIf="error" style="display: block; color: red;">
                    <span>{{error}}</span>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="TypeOfDialog.Tree">
            <h1 mat-dialog-title style="display:inline-block; cursor:move; padding-top: 15px" mat-dialog-draggable>
                {{'device.browsetag-property-title' | translate}}
            </h1>
            <mat-icon (click)="onNoClick()" style="float:right;cursor:pointer;color:gray;position: relative; top: 10px; right: 0px">clear</mat-icon>
            <div style="overflow: auto;">
                <ngx-treetable #treetable [config]="config" (expand)="queryNext($event)"></ngx-treetable>
            </div>
        </div>
    </div>
    <div mat-dialog-actions class="dialog-action">
        <button mat-raised-button (click)="onNoClick()">{{'dlg.cancel' | translate}}</button>
        <button mat-raised-button [disabled]="!isValidate()" color="primary" (click)="onOkClick()">{{'dlg.ok' | translate}}</button>
    </div>
</div>