.header-panel {
    /* z-index: 9999 !important; */
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(33,33,33,1);
    /* background-color: rgba(33,33,33,0.92); */
    color: rgba(255,255,255,1);
    height: 40px;
    width: 100%;
    text-align: center;
    line-height: 40px;
}

.work-panel {
    position: absolute;
    top: 40px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    position: absolute;
    bottom: 0px;
    top: 0px;
    left:0px;
    right:0px;
    background-color: white;
}

.filter {
    display: inline-block;
    min-height: 60px;
    padding: 8px 24px 0;
}

.filter .mat-form-field {
    font-size: 14px;
    width: 100%;
}

.table {
    height: 705px;
}

.mat-table {
    overflow: auto;
    height: 100%;
}
  
.mat-header-cell.mat-sort-header-sorted {
}

.mat-row {
    min-height: 40px;
    height: 43px;
    /* border-bottom-color: rgba(0,0,0,0.06); */
}

.mat-cell {
    font-size: 13px;
}

.mat-header-row {
    top: 0;
    position: sticky;
    z-index: 1;
}

.mat-header-cell {
    font-size: 15px;
}

.mat-column-select {
    overflow: visible;
    flex: 0 0 100px;
}

.mat-column-name {
    flex: 0 0 200px;
}


.mat-column-device {
    flex: 0 0 350px;
}

.mat-column-highhigh {
    flex: 0 0 200px;
}

.mat-column-high {
    flex: 0 0 200px;
}
.mat-column-low {
    flex: 0 0 200px;
}
.mat-column-info {
    flex: 0 0 200px;
}

.mat-column-value {
    flex: 0 0 800px;
}

.mat-column-remove {
    flex: 0 0 60px;
}

.selectidthClass{
    flex: 0 0 50px;
 }

.message-error {
    display: inline-block;
    /* background-color: red;; */
    color:red;
}

.my-header-filter /deep/ .mat-sort-header-button {
    display: block;
    text-align: left;
    margin-top: 5px;
}

.my-header-filter /deep/ .mat-sort-header-arrow {
    top: -12px;
    right: 20px;
}

.my-header-filter-input {
    display: block; 
    margin-top: 4px;
    margin-bottom: 6px;
    background-color: rgba(241,243,244);
    border: 0px solid rgba(51, 51, 51);
    padding: 3px 1px 3px 2px;
    border-radius: 2px;
}