:host {
    .container {
        [mat-dialog-content],
        .mat-dialog-content,
        .mat-mdc-dialog-content {
            width: 400px;
            min-height: 220px;
            max-height: 400px;
            overflow: auto;
            padding-bottom: 7px;

            .my-form-field {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                span {
                    width: 100%;
                }

                input {
                    width: 100%;
                    box-sizing: border-box;
                }
            }
        }
    }
}
