
.left-panel {
    width:380px;
}

.content-toolbox {
    line-height: 20px; 
}

.content-toolbox span {
    float: left;
}

.content-toolbox button {
    float: right;
}

.content-panel {
    display: block; 
    margin-top: 15px;
    width: 100%;
    /* position: relative; */
}

.content-list {
    /* position: absolute; */
    /* top: 30px; */
    /* left: 0px; */
    /* right: 0px; */

}