
.div-form-field {
    /* background-color: rgba(0,0,0,0.3);
    border-radius: 2px;
    margin: 3px 5px 3px 5px; */
}
.input-form-field {
    width:100%;
    /* padding-left: 4px;
    padding-right: 4px; */
}
::ng-deep .input-form-field input {
    margin-bottom: -5px !important;
}