<mat-select
    [value]="value"
    [panelWidth]="panelWidth"
    [panelClass]="panelClass"
    class="icons-selector"
    [ngStyle]="{ width: width, height: height }"
    #iconsel>
    <mat-select-trigger>
        <img *ngIf="image; else iconTrigger" class="icon-selector-image" [src]="image" alt="">
        <ng-template #iconTrigger>
            <mat-icon>{{iconsel.value}}</mat-icon>
        </ng-template>
    </mat-select-trigger>
    <mat-option *ngIf="allowImage" [value]="'image'" (click)="imagefile.value = '';imagefile.click();">
        {{ imageLabel | translate }}
        <input #imagefile type="file" style="display: none;" (change)="onImageSelected($event)" accept="image/png|jpg|svg" />
    </mat-option>
    <mat-option>
        <div class="my-form-field">
            <input
                matInput
                [(ngModel)]="filterText"
                [ngModelOptions]="{standalone: true}"
                (input)="onFilterChange()"
                (click)="$event.stopPropagation()"
                (keydown)="$event.stopPropagation()"
                [placeholder]="filterPlaceholder | translate"
                type="text"
                autocomplete="off" />
        </div>
    </mat-option>
    <mat-option
        *ngFor="let icon of filteredIcons$ | async"
        [value]="icon"
        (click)="onSelect(icon)"
        style="display: inline-block !important;">
        <mat-icon>{{ icon }}</mat-icon>
    </mat-option>
</mat-select>
