<mat-select
    [value]="value"
    [panelWidth]="panelWidth"
    class="icons-selector"
    [ngStyle]="{ width: width, height: height }"
    #iconsel>
    <mat-select-trigger>
        <mat-icon>{{iconsel.value}}</mat-icon>
    </mat-select-trigger>
    <mat-option>
        <div class="my-form-field">
            <input
                matInput
                [(ngModel)]="filterText"
                [ngModelOptions]="{standalone: true}"
                (input)="onFilterChange()"
                (click)="$event.stopPropagation()"
                (keydown)="$event.stopPropagation()"
                [placeholder]="filterPlaceholder | translate"
                type="text"
                autocomplete="off" />
        </div>
    </mat-option>
    <mat-option
        *ngFor="let icon of filteredIcons$ | async"
        [value]="icon"
        (click)="onSelect(icon)"
        style="display: inline-block !important;">
        <mat-icon>{{ icon }}</mat-icon>
    </mat-option>
</mat-select>
