:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;

    .container {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        min-height: 0;
    }

    .filter {
        flex: 0 0 auto;
        padding: 8px 24px 0;
    }

    .filter .mat-form-field {
        font-size: 14px;
        width: 100%;
    }

    .table-container {
        flex: 1 1 auto;
        min-height: 0;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .table-scroll {
        flex: 1 1 auto;
        min-height: 0;
        overflow-y: auto;

        mat-header-row,
        .mat-mdc-header-row,
        .mat-header-row {
            position: sticky !important;
            top: 0;
            z-index: 20;
        }
    }

    .paginator {
        flex: 0 0 auto;
        margin-right: 100px;
    }

    .mat-row,
    .mat-mdc-row,
    .my-mat-row {
        min-height: 44px !important;
        height: 44px !important;
        border-top: none !important;
        border-bottom: none !important;
    }

    .mat-cell,
    .mat-mdc-cell,
    .mdc-data-table__cell {
        font-size: 13px;
        border-top: none !important;
        border-bottom: 1px solid rgb(81, 81, 81) !important;
    }

    .mat-header-row {
        top: 0;
        position: sticky;
        z-index: 1;
    }

    .mat-header-cell {
        font-size: 15px;
    }

    .mat-column-select {
        overflow: visible;
        flex: 0 0 80px;
    }

    .mat-column-name {
        flex: 1 1 200px;
    }


    .mat-column-address {
        flex: 2 1 280px;
    }

    .mat-column-device {
        flex: 1 1 140px;
    }

    .mat-column-type {
        flex: 0 0 120px;
    }

    .mat-column-value {
        flex: 1 1 180px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 10px;
    }

    .mat-column-timestamp {
        flex: 0 0 160px;
    }

    .mat-column-description {
        flex: 1 1 140px;
    }

    .mat-column-logger {
        flex: 0 0 110px;
        font-size: 10px;
    }

    .mat-column-logger mat-icon {
        font-size: 20px;
        height: 20px;
    }

    .mat-column-info {
        flex: 0 0 40px;
    }

    .mat-column-warning {
        flex: 0 0 30px;
    }

    .mat-column-options {
        flex: 0 0 60px;
    }

    .mat-column-min {
        flex: 0 0 100px;
    }

    .mat-column-max {
        flex: 0 0 100px;
    }

    .mat-column-remove {
        flex: 0 0 60px;
    }

    .mat-column-direction {
        flex: 0 0 120px;
    }

    .mat-column-quality {
        flex: 0 0 100px;
    }

    .selectidthClass{
        flex: 0 0 50px;
    }

    .warning {
        color: red;
    }

    .my-header-filter ::ng-deep .mat-sort-header-button {
        display: block;
        text-align: left;
        margin-top: 5px;
    }

    .my-header-filter ::ng-deep .mat-sort-header-arrow {
        top: -12px;
        right: 20px;
    }

    .my-header-filter-input {
        display: block;
        margin-top: 4px;
        margin-bottom: 6px;
        padding: 3px 1px 3px 2px;
        border-radius: 2px;
    }

    .context-menu {
        font-size: 13px;
    }
}
