:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;

    .container {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        min-height: 0;
    }

    .filter {
        flex: 0 0 auto;
        padding: 8px 24px 0;
    }

    .filter .mat-form-field {
        font-size: 14px;
        width: 100%;
    }

    .table-container {
        flex: 1 1 auto;
        min-height: 0;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .table-scroll {
        flex: 1 1 auto;
        min-height: 0;
        overflow: auto;
        position: relative;

        .responsive-table {
            width: 100%;
            min-width: 0;
        }

        mat-header-row,
        .mat-mdc-header-row,
        .mat-header-row {
            position: sticky !important;
            top: 0;
            z-index: 20;
            min-width: 0;
        }

        .my-mat-row {
            min-width: 0;
        }
    }

    .paginator {
        flex: 0 0 auto;
        margin-right: 100px;
    }

    .mat-row,
    .mat-mdc-row,
    .my-mat-row {
        min-height: 44px !important;
        height: 44px !important;
    }

    .mat-cell {
        font-size: 13px;
    }

    .mat-header-row {
        top: 0;
        position: sticky;
        z-index: 1;
    }

    .mat-header-cell {
        font-size: 15px;
    }

    .mat-column-select {
        overflow: visible;
        flex: 0 0 70px;
        min-width: 70px;
    }

    .mat-column-name {
        flex: 2 1 150px;
        min-width: 150px;
    }


    .mat-column-address {
        flex: 3 1 200px;
        min-width: 200px;
    }

    .mat-column-device {
        flex: 2 1 120px;
        min-width: 120px;
    }

    .mat-column-type {
        flex: 1 1 80px;
        min-width: 80px;
    }

    .mat-column-monitor {
        flex: 1 1 80px;
        min-width: 80px;
        text-align: center;
        justify-content: center;
    }

    .mat-column-monitor mat-icon {
        font-size: 18px;
        height: 18px;
        width: 18px;
    }

    .mat-column-value {
        flex: 2 1 120px;
        min-width: 120px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 10px;
    }

    .mat-column-timestamp {
        flex: 1 1 140px;
        min-width: 140px;
    }

    .mat-column-description {
        flex: 2 1 120px;
        min-width: 120px;
    }

    .mat-column-logger {
        flex: 1 1 80px;
        min-width: 80px;
        font-size: 10px;
    }

    .mat-column-logger mat-icon {
        font-size: 18px;
        height: 18px;
    }

    .mat-column-info {
        flex: 0 0 40px;
    }

    .mat-column-warning {
        flex: 0 0 40px;
        min-width: 40px;
    }

    .mat-column-options {
        flex: 0 0 50px;
        min-width: 50px;
    }

    .mat-column-min {
        flex: 1 1 80px;
        min-width: 80px;
    }

    .mat-column-max {
        flex: 1 1 80px;
        min-width: 80px;
    }

    .mat-column-remove {
        flex: 0 0 50px;
        min-width: 50px;
    }

    .mat-column-direction {
        flex: 1 1 90px;
        min-width: 90px;
    }

    .mat-column-quality {
        flex: 1 1 80px;
        min-width: 80px;
    }

    .selectidthClass{
        flex: 0 0 50px;
        min-width: 50px;
    }

    .warning {
        color: red;
    }

    .my-header-filter ::ng-deep .mat-sort-header-button {
        display: block;
        text-align: left;
        margin-top: 5px;
    }

    .my-header-filter ::ng-deep .mat-sort-header-arrow {
        top: -12px;
        right: 20px;
    }

    .my-header-filter-input {
        display: block;
        margin-top: 4px;
        margin-bottom: 6px;
        padding: 3px 1px 3px 2px;
        border-radius: 2px;
    }

    .context-menu {
        font-size: 13px;
    }
}
