.container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    position: absolute;
    bottom: 0px;
    top: 0px;
    left:0px;
    right:0px;
    background-color: white;
}

.filter {
    display: inline-block;
    min-height: 64px;
    padding: 8px 24px 0;
}

.filter .mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-table {
    overflow: auto;
    min-width: 1560px;
}
  
.mat-header-cell.mat-sort-header-sorted {
    color: black;
}

.mat-header-row {
    top: 0;
    position: sticky;
    z-index: 1;
    /* background-color: rgba(0,0,0,0.7); */
    background-color: rgb(58, 58, 58);
    color: white;
}
.mat-header-cell {
    color: white;
    font-size: 14px;
}

.mat-column-select {
    overflow: visible;
    flex: 0 0 100px;
}

.mat-column-name {
    flex: 0 0 400px;
}


.mat-column-address {
    flex: 0 0 260px;
}

.mat-column-device {
    flex: 0 0 200px;
}

.mat-column-type {
    flex: 0 0 160px;
}

.mat-column-value {
    flex: 0 0 180px;
}

.mat-column-min {
    flex: 0 0 100px;
}

.mat-column-max {
    flex: 0 0 100px;
}

.mat-column-remove {
    flex: 0 0 60px;
}

.selectidthClass{
    flex: 0 0 50px;
 }