.toolbox {
    display: inline-block;
    float: right;
    margin-top: 10px;
    margin-bottom: 3px;
}
  
.toolbox button {
    margin-right: 8px;
    margin-left: 8px;
}

.toolbox-right {
    width: 300px;
    position: absolute;
    top: 85px;
    right: 20px;
    height: 200px;
    overflow: hidden;
}

.slider-field span {
    padding-left: 2px;
    text-overflow: clip;
    max-width: 125px;
    white-space: nowrap;
    overflow: hidden;
}

.slider-field mat-slider {
    background-color: #f1f3f4;
    height: 30px;
}

.field-row {
    display: block;
    margin-bottom: 5px;
}

.color-field input {
    padding: 0 !important;
    height: 29px;
}

::ng-deep .input-text .mat-form-field-wrapper {
    /* margin-bottom: -15px !important; */
}
::ng-deep .input-text .mat-form-field-infix {
    padding-top: 5px;
    padding-bottom: 0px;
}

::ng-deep .mat-dialog-container {
    display: inline-table !important;
}