:host {
    .container {
        min-width: 840px;
        min-height: 600px;
        position: relative;
    }

    .toolbox {
        display: flex;
        align-items: flex-end;
        gap: 12px;
        margin-bottom: 12px;
        flex-wrap: wrap;
    }

    .my-form-field {
        width: 240px;
    }

    .field-action {
        flex: 0 0 auto;
    }

    .loading {
        display: flex;
        align-items: center;
        gap:12px;
        margin-bottom:8px;
    }

    .mat-header-row {
        top: 0;
        position: sticky;
        z-index: 1;
    }

    .mat-header-cell {
        font-size: 15px;
    }
}