<mat-selection-list *ngIf="extSelected" #extGroups [(ngModel)]="extSelected" style="display: inline-block; width: 40px;padding-top: 0px; padding-bottom: 10px;" [disabled]="disabled">
	<mat-list-option *ngFor="let opt of options" [selected]="opt.selected" [value]="opt" style="height: 26px;cursor: pointer;" checkboxPosition="before">
	</mat-list-option>	
</mat-selection-list>
<mat-selection-list #selGroups [(ngModel)]="selected" style="display: inline-block; padding-top: 0px; padding-bottom: 10px;" [disabled]="disabled">
	<mat-list-option *ngFor="let opt of options" [selected]="opt.selected" [value]="opt" style="font-size: 14px;height: 26px !important;cursor: pointer;" checkboxPosition="before">
		{{opt.label}}
	</mat-list-option>
</mat-selection-list>