:host {
    .container {
        width: 400px;
    }

    .block-input {
        display: block;
        width: 100%;

        input {
            width: calc(100% - 5px);
        }
    }

    .partial-input {
        width: 150px;

        input {
            width: calc(100% - 7px);
        }
    }

    .block-zones {
        display: block;
        max-height: 220px;
        overflow-y: auto;
    }
}