:host {
    .chart-selection {
        position: absolute;
        top: 35px;
        bottom: 0px;
        overflow: auto;
        width:calc(100% - 10px);
    }

    .section-item {
        width: 100%;
    }

    .field-block {
        width: 100%;
        mat-select, input, span {
            width:calc(100% - 15px);
        }
    }

    .field-text input {
        width: 70px;
    }

    .field-number {
        width: 60px;
    }

    .field-number input {
        width: inherit;
        text-align: center;
    }

    .field-number span {
        width: 65px;
        text-align: left;
    }

    .section-inline-margin-s {
        display: inline-block;
        width: 5px;
    }

    .section-inline-color {
        display: inline-block;
        width: 70px;
    }

    .section-inline-color input {
        width: 70px !important;
        text-align: center;
    }

    .section-inline-color span {
        width: 70px;
    }

    .section-inline-margin {
        display: inline-block;
        width: 12px;
    }

    .section-inline-margin2 {
        display: inline-block;
        width: 16px;
    }

    .section-newline {
        margin-top: 5px;
    }

    ::ng-deep .slider-field mat-slider {
        background-color: var(--formSliderBackground);
        height: 30px;
        width: 100px;
    }

    ::ng-deep .mat-tab-label {
        height: 34px !important;
    }
}