.topic {
    font-size: 12px;
    width: 100%;
    height: 22px;
    cursor: pointer;
}

.topic-active {
    width: 100%;
    height: 26px;
    background-color: violet;
}

.topic-text {
    width: 450px;
    display: inline-block;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 26px;
}

.topic-value {
    font-size: 12px;
    color: gray;
    width: 340px;
    display: inline-block;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 26px;
}

.topic-check {
    float: right;
    margin-right: 20px;
    line-height: 26px;
    /* display: inline-block; */
}

.topic-publish-result {
    height: 160px;
    width: 100%;
    background-color: rgb(241 243 244);
    padding: 5px 5px 3px 8px;
    overflow: auto;
    white-space: pre;
    font-family: monospace;
    font-size: 12px;
}

.topic-subscription-result {
    height: 160px;
    background-color: rgb(241 243 244);
    padding: 5px 5px 3px 8px;
    overflow: auto;
    white-space: pre;
    font-family: monospace;
    font-size: 12px;
}

.separator-line {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 1px;
    width: 100%;
}

::ng-deep .mytoogle .mat-button-toggle-label-content {
    line-height: 28px;
}