:host {
    form {
        width: 350px;
        max-width: calc(100vw - 48px);
    }

    .my-form-field.block {
        width: 100%;
    }

    .my-form-field input,
    .my-form-field mat-select,
    .my-form-field textarea,
    sel-options {
        width: 100%;
        box-sizing: border-box;
    }

    .my-form-field .mat-mdc-select {
        width: 100%;
    }

    .password-field input {
        padding-right: 34px;
    }

    .show-password {
        position: absolute;
        right: 6px;
        bottom: 4px;
        opacity: 0.7;
        cursor: pointer;
    }
}
