<div class="flex-variable-mapping">
    <div style="display: inline-block;">
        <flex-variable style="display: block"
                       [(value)]="value.from"
                       [data]="data"
                       [placeholders]="placeholders"
                       (valueChange)="onValueChange()"
                       [allowManualEdit]="true"
                       [withStaticValue]="false"
                       [tagTitle]="'gauges.property-tag-internal-title'">
        </flex-variable>
        <flex-variable style="display: block"
                       [(value)]="value.to"
                       [data]="data"
                       (valueChange)="onValueChange()"
                       [allowManualEdit]="false"
                       [withStaticValue]="false"
                       [devicesOnly]="true">
        </flex-variable>
    </div>
    <div style="display: inline-block;">
        <div style="display: inline-block; margin-bottom: 2px; width: 12px; border-radius: 2px; height: 45px; 
            border-radius: 0px 3px 3px 0px; border-top: 2px solid #cacaca; border-right: 2px solid #cacaca; border-bottom: 2px solid #cacaca;">
        </div>
    </div>
    <ng-content></ng-content>
</div>