.panelTop {
    display: block;
    width: 100%;
    height: 180px;
    border: 1px solid var(--formBorder);
    position: relative;
    overflow: auto;
}

.mychips {
    display: inline-block;
    font-size: 14px;
    height: 32px;
    line-height: 30px;
    border-radius: 20px;
    background-color: var(--chipsBackground);
    cursor: pointer;
    margin: 2px 2px;
}

.mychips mat-icon {
    margin: 5px 5px 5px 5px;
    opacity: 0.5;
    font-size: 20px;
    text-align: center;
}

.mychips span {
    padding-left: 3px;
    padding-right: 3px;
    vertical-align: top;
}
.mychips:hover {
    opacity: 0.9;
}

.mychips-selected {
    background-color: var(--chipSelectedBackground);
    color: var(--chipSelectedColor);
}

.toolbox-toadd {
    position: absolute;
    right: 50px;
    top: -40px;
}

.panelTop .chart-list,
.device-list,
.tag-list {
    height: 480px;
}

.panelBottom {
    display: block;
    width: 100%;
    height: 300px;
    margin-top: 10px;
}

.list {
    width: 100% !important;
    height: 100% !important;
    font-size: 16px !important;
    padding-top: 0px !important;
}

.list > span {
    padding-left: 10px;
}

.list mat-list-option {
    padding-left: 10px;
}

.chart-list {
    overflow-y: auto;
}

.list-item {
    display: block;
    font-size: 14px;
    height: 26px !important;
    cursor: pointer;
    overflow: hidden;
    padding-left: 10px;
}

.list-item mat-icon {
    font-size: 20px;
}

.list-item span {
    text-overflow: ellipsis;
    overflow: hidden;
}

.list-item-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.list-item-hover:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.list-item-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.list-item-sel {
    padding-left: 5px !important;
}

.list-header {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    line-height: 26px;
    cursor: unset;
}

.list-item-remove {
    width: 20px;
    max-width: 20px;
}

.list-item-name {
    width: 25%;
    max-width: 25%;
}

.list-item-label {
    width: 30%;
    max-width: 30%;
}

.list-item-device {
    width: 25%;
    max-width: 25%;
}

.list-item-yaxis {
    width: 10%;
    max-width: 10%;
}

.list-item-interpolation {
    width: 10%;
    max-width: 10%;
}

.list-item-color {
    width: 5%;
    max-width: 5%;
}

.list-panel {
    height: calc(100% - 26px); 
    overflow-x: hidden;
}

.device-list {
    margin-right: 2px;
    overflow-y: auto;
}

.tag-list {
    margin-right: 2px;
    overflow-y: auto;
}

.color-line {
    width: 30px;
    border: unset;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    opacity: 1;
    background-color: #f1f3f4;
}
