
.field-row {
    display: block;
    margin-bottom: 5px;
}

.color-field input {
    padding: 0 !important;
    height: 29px;
}

.slider-field span {
    padding-left: 2px;
    text-overflow: clip;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
}

.slider-field mat-slider {
    background-color: #f1f3f4;
    height: 29px;
}

.slider-small > .mat-slider-horizontal {
    min-width: 80px;
}