    <div class="header-panel">
        {{'recipe.list-title' | translate}}
    </div>
    <div class="work-panel">
        <div class="container" >
            <mat-table #table [dataSource]="dataSource" matSort>
                <!-- Edit Column -->
                <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef [ngClass]="selectWidthClass">
                        <button *ngIf="!readonly" mat-icon-button (click)="onAddRecipe()" class="remove" matTooltip="{{'device.property-add' | translate}}">
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" [ngClass]="!readonly ? 'selectWidthClass' : 'selectHideClass'">
                        <!-- <button *ngIf="!readonly" mat-icon-button  class="onListRecipe(element)" class="remove" matTooltip="{{'device.property-tags' | translate}}">
                            <mat-icon>link</mat-icon>
                        </button> -->
                        <button *ngIf="!readonly" mat-icon-button (click)="onEditRecipe(element)"  class="remove" matTooltip="{{'recipe.property-edit' | translate}}">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="recipeName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{'recipe.list-recipeName' | translate}} </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.recipeName}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="creationTime">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{'recipe.list-createtime' | translate}} </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.creationTime | date:'short'}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="lastModifiedTime">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{'recipe.list-lastModifiedTime' | translate}} </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.lastModifiedTime | date:'short'}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="version">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{'recipe.list-version' | translate}} </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.version}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="isActive">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{'recipe.list-isActive' | translate}} </mat-header-cell>
                    <mat-cell *matCellDef="let element" >{{element.isActive}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="remove">
                    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button mat-icon-button (click)="$event.stopPropagation();onRemoveRecipe(element)" class="remove" *ngIf="!isAdmin(element)">
                            <mat-icon>clear</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns" [ngStyle]="{'min-width.px': tableWidth}"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" class="my-mat-row" [ngStyle]="{'min-width.px': tableWidth}"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[10, 25, 100]" [pageSize]="25" style="position: relative; right: 100px;"></mat-paginator>
        </div>
    </div>
<button *ngIf="!readonly" mat-fab color="primary" (click)="onAddRecipe()" class="fab-add">
    <mat-icon class="">add</mat-icon>
</button>
