.header-panel {
    /* z-index: 9999 !important; */
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(33,33,33,1);
    /* background-color: rgba(33,33,33,0.92); */
    color: rgba(255,255,255,1);
    height: 40px;
    width: 100%;
    text-align: center;
    line-height: 40px;
}

.work-panel {
    position: absolute;
    top: 40px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.filter {
    display: inline-block;
    min-height: 60px;
    padding: 8px 24px 0;
}

.filter .mat-form-field {
    font-size: 14px;
    width: 100%;
}

.table {
    height: 705px;
}

.mat-table {
    overflow: auto;
    min-width: 1560px;
    /* margin: 5px; */
    /* max-height: 500px; */
}
  
.mat-header-cell.mat-sort-header-sorted {
    color: black;
}

.mat-header-row {
    top: 0;
    position: sticky;
    z-index: 1;
    background-color: rgba(76,76,76,1);
    color: white;
}
.mat-header-cell {
    color: white;
    font-size: 14px;
}

.mat-column-select {
    overflow: visible;
    flex: 0 0 100px;
}

.mat-column-id {
    flex: 0 0 300px;
}


.mat-column-group {
    flex: 0 0 200px;
}

.mat-column-value {
    flex: 0 0 800px;
}

.mat-column-remove {
    flex: 0 0 60px;
}

.selectidthClass{
    flex: 0 0 50px;
 }

.message-error {
    display: inline-block;
    /* background-color: red;; */
    color:red;
}