<div class="svg-property-split2" *ngIf="settings">
    <div class="svg-property" title="Gauge name">
        <span>{{'editor.interactivity-name' | translate}}</span>
        <input type="text" id="gaugename" [(ngModel)]="settings.name" type="text" readonly />
    </div>
    <div class="svg-property" style="display:block !important; padding: 0px 10px 5px 10px;" title="Change rectangle height">
        <button mat-button color="primary" style="background-color: dimgrey;color:white; display: inline-block" (click)="onEdit()">{{'gauges.property-title' | translate}}</button>
    </div>
</div>