<div class="container">
    <div class="head" style="padding-top: 10px;">
        <flex-variable [data]="data" (onchange)="setVariable($event)" [variableId]="property.variableId" [variableValue]="property.variableValue" [bitmask]="property.bitmask"
         [withStaticValue]="withStaticValue" [withBitmask]="withBitmask">
        </flex-variable>
    </div>
    <flex-input #flexinput *ngIf="withProperty" [data]="data" [property]="property" [ranges]="property.ranges" [default]="defaultValue" [propertyType]="withProperty" style="padding-bottom: 5px">
    </flex-input>
</div>