:host {
    .container {
        .mat-dialog-content
        {
            min-width: 620px;
            overflow: hidden;
            padding-bottom: 7px;

            .item-block {
                display: block;

                span {
                    width: calc(100% - 5px);
                }
            }

            .form-input-dual {
                div {
                    width: 40%;
                }
            }

            // .my-form-field {
            //     width: 100%;
            //     mat-select {
            //         width: calc(100% - 5px);
            //     }
            // }
        }
    }

    .tab-content {
        display: block;
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
        margin-top: 10px;
        height: 380px;
    }

    /* Evita che input e select espandano oltre il contenitore */
    .tab-content input,
    .tab-content mat-select,
    .tab-content .my-form-field {
        max-width: 100%;
        width: 100%;
        box-sizing: border-box;
    }

    /* Per allineare i campi duali senza creare overflow */
    .form-input-dual {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .form-input-dual .my-form-field {
        flex: 1 1 150px; /* si adatta e non forza scroll */
        min-width: 0;   /* fondamentale per evitare overflow su flex */
    }

    mat-tab-group {
        width: 100%;
    }

    .actions-toolbar {
        display: flex;
        justify-content: flex-end;
    }

    ::ng-deep .mat-tab-label {
        height: 34px !important;
    }
}
