:host {
    .container {
        .mat-dialog-content
        {
            width: 400px;
            min-height: 220px;
            overflow: hidden;
            padding-bottom: 7px;

            .item-block {
                display: block;

                mat-select,
                input,
                span {
                    width: calc(100% - 5px);
                }
            }

            .form-input-dual {
                div {
                    width: 40%;
                }
            }

            .my-form-field {
                width: 100%;
                mat-select {
                    width: calc(100% - 5px);
                }
            }
        }
    }
}