.header-panel {
    background-color: var(--headerBackground);
    color: var(--headerColor);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 36px;
    width: 100%;
    text-align: center;
    line-height: 36px;
    border-bottom: 1px solid var(--headerBorder);
}

.header-panel mat-icon {
    display: inline-block;
    vertical-align: text-top;
}

.work-panel {
    position: absolute;
    top: 37px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: var(--workPanelBackground);
}

.container {
    /* background-color: var(); */
    display: inline-table;
    width: 100%;
}

.mat-table {
    overflow: auto;
    height: 100%;
    width: 100%;
}

.mat-row {
    min-height: 40px;
    height: 43px;
}

.mat-cell {
    font-size: 13px;
}

.mat-header-row {
    top: 0;
    position: sticky;
    z-index: 1;
}

.mat-header-cell {
    font-size: 15px;
}

.mat-column-select {
    overflow: visible;
    width: 50px;
}

.mat-column-name {
    flex: 1 1 120px;
}

.mat-column-type {
    flex: 0 0 100px;
}

.mat-column-receiver {
    flex: 3 1 180px;
}
.mat-column-scheduling {
    flex: 3 1 180px;
}
.mat-column-enabled {
    flex: 0 0 60px;
}

.mat-column-create {
    width: 50px;
}

.mat-column-remove {
    width: 50px;
}

.mat-column-expand {
    width: 50px;
}

tr.detail-row {
    height: 0;
}
  
  /* .example-element-row td {
    border-bottom-width: 0;
  } */
  
.report-details {
    overflow: hidden;
    display: flex;
}

.details-description {
    min-height: 100px;
    max-height: 360px;
    margin: 5px 10px;
    padding-left: 40px;
    width: 100%;
    overflow: auto;
}

.report-detail div {
    min-width: 600px;
    display: inline-block;
}

td.details-container {
    background-color: var(--workPanelExpandBackground);
}