<div [style.backgroundColor]="data.backgroundColor" [style.color]="data.color">
    <h1 mat-dialog-title class="dialog-title" style="height: 40px;" mat-dialog-draggable></h1>
    <mat-icon (click)="onNoClick()" class="dialog-close-btn" [style.color]="data.color">clear</mat-icon>

    <div mat-dialog-content [style.color]="data.color">
        {{ msgToConfirm }}
    </div>

    <div mat-dialog-actions class="dialog-action" [style.color]="data.color">
        <button mat-raised-button *ngIf="!data.hideCancel" (click)="onNoClick()" [style.backgroundColor]="data.backgroundColor" [style.color]="data.color">{{'dlg.cancel' | translate}}</button>
        <button mat-raised-button color="primary" (click)="onOkClick()" [mat-dialog-close]="data" [style.backgroundColor]="data.backgroundColor" [style.color]="data.color">{{'dlg.ok' | translate}}</button>
    </div>
</div>