.item {
    display: block;
    min-height: 100px;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 5px 0px 0px 0px;
    margin-bottom: -1px;
}

.item-head {
    display: block;
}

.remove {
    position: relative;
    top: 4px;
    right: 0px;
}

.item-remove {
    float: right;
    /* padding-top: 6px; */
    /* min-width: 140px; */
}

.action-content {
    display: block;
    padding-top: 2px;
}

.item-range {
    display: inline-block;
    min-width: 240px;
    width: 240px;
    margin-left: 30px;
}

::ng-deep .ng5-slider .ng5-slider-pointer { 
    width: 16px !important;
    height: 16px !important;
    border-radius: 8px !important; 
    top: -7px !important 
}
::ng-deep .ng5-slider .ng5-slider-pointer:after { 
    top: 6px !important;
    left: 6px !important;
    width: 4px !important;
    height: 4px !important; 
    border-radius: 2px !important 
}

.input-slider {
    display: inline;
    /* max-width: 160px; */
}
::ng-deep .input-slider span {
    font-size: 14px !important;
}
.input-slider ng5-slider {
    /* display: block; */
    max-width: 300px;
    margin-top: 29px;
    margin-right: 20px;
}
