:host {
    .svg-selector-list {
        position: absolute;
        top: 35px;
        bottom: 0px;
        overflow: auto;
        margin-top: 10px;
        right: 0px;
        left: 5px;
    }

    .svg-selector-item {
        font-size: 12px;
        line-height: 24px;
        height: 24px;
        cursor: pointer;
        padding-left: 5px;
        display: flex;
        align-items: center;
        gap: 10px;

        .name {
            flex: 0 0 160px;
            min-width: 0;
            font-size: 13px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            vertical-align: bottom;
        }

        .id {
            flex: 1 1 auto;
            min-width: 0;
            color: darkgray;
            text-align: right;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .edit {
            flex: 0 0 auto;
            width: 22px;
            height: 22px;
            line-height: 22px;

            mat-icon {
                font-size: 16px;
            }
        }
    }

    .svg-selector-item:hover {
        background-color: #9c9c9c36;
    }

    .svg-selector-active {
        background-color: rgba(48, 89, 175, 1);
    }

    .search-input-container {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
        margin-top: 3px;

        input {
            width: calc(100% - 10px);
        }

        .search-icon {
            position: absolute;
            right: 8px;
            top: 50%;
            transform: translateY(-50%);
            color: #757575;
        }
    }
}
