<div class="element-property">
    <div class="element-property-title">
        {{'svg.selector.property-title' | translate}}
    </div>
    <div class="svg-selector-list">
        <div class="my-form-field search-input-container">
            <input type="text" matInput [(ngModel)]="filterText" (input)="filterElements()">
            <mat-icon class="search-icon">search</mat-icon>
        </div>
        <div *ngFor="let svgElement of filteredSvgElements" class="svg-selector-item" [ngClass]="{'svg-selector-active': isSelected(svgElement)}"
            (click)="$event.stopPropagation();onSelected(svgElement)" (mouseout)="onSvgElementPreview(svgElement, false)" (mouseover)="onSvgElementPreview(svgElement, true)">
            <div class="name">{{ svgElement.name }}</div>
            <div class="id">{{ svgElement.id }}</div>
            <button mat-icon-button (click)="$event.stopPropagation();onEditElement(svgElement)" class="edit">
                <mat-icon>edit</mat-icon>
            </button>
        </div>
    </div>
</div>