
.field-row {
    display: block;
    margin-bottom: 5px;
}

.slider-field span {
    padding-left: 2px;
    text-overflow: clip;
    max-width: 125px;
    white-space: nowrap;
    overflow: hidden;
}

.slider-field mat-slider {
    background-color: #f1f3f4;
    height: 30px;
}

.color-field input {
    padding: 0 !important;
    height: 29px;
}