
.field-row {
    display: block;
    margin-bottom: 5px;
}

.slider-field span {
    padding-left: 2px;
    text-overflow: clip;
    max-width: 125px;
    white-space: nowrap;
    overflow: hidden;
}

.slider-field mat-slider {
    background-color: var(--formSliderBackground);
    height: 30px;
}

::ng-deep .mat-tab-label {
    height: 34px !important;
}