<div class="header-panel">
    <mat-icon>vpn_key</mat-icon>
    <span>{{'apikeys.list-title' | translate}}</span>
</div>
<div class="work-panel">
    <div class="container">
        <mat-table #table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef [ngClass]="'selectidthClass'">
                    <button mat-icon-button (click)="onAddApiKey()" class="remove">
                        <mat-icon>add</mat-icon>
                    </button>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="'selectidthClass'">
                    <button mat-icon-button (click)="onEditApiKey(element)" class="remove">
                        <mat-icon>edit</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{'apikeys.list-name' | translate}} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="key">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{'apikeys.list-key' | translate}} </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div class="key-cell">
                        <span class="key-value">{{ element.key }}</span>
                        <button mat-icon-button
                                matTooltip="{{'apikeys.copy-key' | translate}}"
                                (click)="copyApiKey($event, element.key)">
                            <mat-icon>content_copy</mat-icon>
                        </button>
                    </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{'apikeys.list-description' | translate}} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.description }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="created">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{'apikeys.list-created' | translate}} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.created | date : 'dd-MM-yyyy' }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="expires">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{'apikeys.list-expires' | translate}} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.expires | date : 'dd-MM-yyyy' }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="enabled">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{'apikeys.list-enabled' | translate}} </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.enabled}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="remove">
                <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-icon-button (click)="$event.stopPropagation();onRemoveApiKey(element)" class="remove">
                        <mat-icon>clear</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" class="my-mat-row"></mat-row>
        </mat-table>
    </div>
</div>

<button mat-fab color="primary" (click)="onAddApiKey()" class="fab-add">
    <mat-icon class="">add</mat-icon>
</button>
