.container {
    display: block;
    margin-bottom: 5px;
    .value {
        max-width: 100px;
        margin-right: 18px;
    }
    .link {
        display:inline-block;
        vertical-align: bottom;
        .span-link {
            text-overflow:clip;
            white-space:nowrap;
            width: 28px
        }

        button {
            line-height: 28px;
            height:28px;
            width:28px;
            vertical-align: middle;
        }
    }
    .input {
        margin-left: 0px;
    }
}

::ng-deep .group-label span {
    line-height: 28px;
    height: 28px;
}

::ng-deep .option-label  {

    line-height: 28px !important;
    height: 28px !important;

    span {
        font-size: 13px;
    }
}
::ng-deep .variable-input {
    font-size: 13px;
    min-width: 450px;
    vertical-align: unset !important;
    width: unset;
}

.tag-link {
    position:absolute; 
    bottom: 0px; 
    right: 0px; 
    height: 28px; 
    width: 28px; 
    border-radius: 2px 0px 0px 2px;
    background-color: var(--formInputBackground);
    color: var(--formInputColor);
}

.bitmask {
    vertical-align: bottom; 
    margin-left: 7px;
}