<div style="display: block;">
    <div class="my-form-field" style="max-width: 100px;" *ngIf="withStaticValue">
        <span>{{variableLabel | translate}}</span>
        <input [(ngModel)]="variableValue" (change)="onChanged()" style="width: 100px" type="text">
    </div>
    <div class="my-form-field" style="display:inline-block;padding-left: 10px;">
        <button mat-icon-button (click)="onBindTag()">
            <mat-icon>link</mat-icon>
        </button>
    </div>
    <div class="my-form-field" style="margin-left: 3px;">
        <span>{{getDeviceName(variableId)}}</span>
        <input style="font-size: 13px;min-width: 450px" value="{{getVariableName(variableId)}}" readonly="true" [disabled]="true">
    </div>
</div>