
::ng-deep .group-label span {
    line-height: 28px;
    height: 28px;
}

::ng-deep .option-label  {

    line-height: 28px !important;
    height: 28px !important;

    span {
        font-size: 13px;
    }
}
::ng-deep .variable-input {
    font-size: 13px;
    min-width: 450px;
    vertical-align: unset !important;
}

.tag-link {
    position:absolute; 
    bottom: 0px; 
    right: 0px; 
    height: 28px; 
    width: 28px; 
    border-radius: 2px 0px 0px 2px;
    background-color: var(--formInputBackground);
    color: var(--formInputColor);
}

.bitmask {
    vertical-align: bottom; 
    margin-left: 7px;
}