<div class="container">
    <div class="my-form-field value" *ngIf="withStaticValue">
        <span>{{variableLabel | translate}}</span>
        <input [(ngModel)]="variableValue" (change)="onChanged()" style="width: 100px" type="text">
    </div>
    <div class="my-form-field link" *ngIf="!readonly">
        <span class="span-link">{{tagLabel | translate}}</span>
        <div class="tag-link"></div>
        <button mat-icon-button (click)="onBindTag()">
            <mat-icon>link</mat-icon>
        </button>
    </div>
    <div class="my-form-field input">
        <span>{{getDeviceName()}}</span>
        <input matInput
            class="variable-input"
            title="{{tagTitle | translate}}"
            placeholder="{{tagTitle | translate}}"
            type="text"
            [formControl]="tagFilter"
            [matAutocomplete]="autoDevices"
            [readonly]="readonly">
        <mat-autocomplete #autoDevices="matAutocomplete" [displayWith]="displayFn"  (optionSelected)="onDeviceTagSelected($event.option.value)">
            <mat-optgroup *ngFor="let device of devicesTags$ | async" class="group-label" [label]="device.name">
                <mat-option *ngFor="let tag of device.tags" [value]="tag" class="option-label">
                    <span>{{tag.name}}</span>
                </mat-option>
            </mat-optgroup>
        </mat-autocomplete>
    </div>
    <div class="my-form-field bitmask" *ngIf="withBitmask">
        <span>{{'gauges.property-mask' | translate}}</span>
        <div class="my-form-field-bitmask">
            <input value="{{getVariableMask()}}" readonly="true" [disabled]="true">
            <mat-icon class="header-icon" (click)="onSetBitmask()">arrow_drop_down</mat-icon>
        </div>
    </div>    
</div>