.editor-sidenav {
    position: fixed;
    margin-top: 36px;
    height: calc(100% - 74px);
    padding: 7px;
    width: 350px;
}

.sidepanel-selector {
    position: fixed;
    margin-top: 36px;
    height: calc(100% - 74px);
    padding: 7px;
    width: 370px;
}

@media (min-width: 1601px) {
    .editor-sidenav {
        width: 450px;
    }
}

#svg_editor_container {
    background: #aaa;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 0px;
}

.svg-workarea-toolbar {
    min-height: 46px;
    height: 46px;
}
.svg-workarea-leftbar-p {
    box-shadow: none !important;
    background-color: var(--toolboxBackground);
    color: var(--toolboxColor);
}

.svg-workarea-leftbar-h {
    max-height: 23px;
    text-align: center;
    vertical-align: middle;
    padding-left: 0px;
    padding-right: 0px;
    border-top: 1px solid var(--toolboxBorder);
    margin-bottom: 0px;
    box-shadow: 0px 1px 3px 0px #000;
}

.svg-workarea-leftbar-h span {
    padding-top: 5px !important;
    padding-left: 3px;
    font-size: 11px;
}

.svg-workarea-leftbar-h:active {
    /* margin-bottom: 4px; */
}

/* .mat-expansion-panel-content {
  background-color: rgb(53, 3, 3);
} */

.svg-workarea-flybar-h {
    max-height: 23px;
    text-align: center;
    vertical-align: middle;
    padding-left: 0px;
    padding-right: 0px;
    border-top: 1px solid var(--toolboxBorder);
    box-shadow: 0px 1px 3px 0px #000;
 }

 .svg-workarea-flybar-h span {
     padding-top: 5px !important;
     padding-left: 3px;
     font-size: 11px;
 }

 /* .svg-workarea-flybar-h:hover {
 } */

 .svg-workarea-flybar-h:enabled .svg-workarea-flybar-h::selection{
     color: rgba(255,255,255,1);
 }

.svg-workarea-fly-p {
    box-shadow: none !important;
    background-color: var(--toolboxBackground);
    color: var(--toolboxColor);
    width: 200px;
    padding-left: 0px;
    padding-right: 0px;
}

.svg-property-split3:after {
    display: table;
    clear: both;
}

.svg-property-split3 div {
    /* float: left; */
    /* width: 49%; */
    display: inline-block;
}

.svg-property-split2:after {
    display: table;
    clear: both;
}

.svg-property-split2 div {
    /* float: left; */
    /* width: 49%; */
    display: inline-block;
}

.svg-property {
    color: var(--toolboxFlyColor);
}

.svg-property span {
    /* float: left; */
    display: block;
    font-size: 10px;
    margin: 0px 5px 0px 10px;
}

.svg-property input {
    /* float: right; */
    /* position: relative; */
    /* left: 0px; */
    /* right: 0px; */
    display: block;
    margin: 0px 10px 12px 10px;
    border: unset;
    background-color: inherit;
    color: inherit;
    border-bottom: 1px solid var(--toolboxFlyColor);
}

.svg-workarea-container {
    display: block;
    height: 100%;
}

.svg-preview {
    background-color: #3058af36;
    height: 0px;
    width: 0px;
    z-index: 1;
    position: absolute;
}

#rulers > div {
    background-color: var(--svgEditRulersBackground) !important;
    color: var(--svgEditRulersColor) !important;
}

#svgcanvas {
    background-color: var(--svgEditWorkareaBackground) !important;
}

.contextMenu {
    background-color: var(--svgEditWorkareaContextMenu) !important;
}

.contextMenu A {
    color: var(--svgEditWorkareaContextColor) !important;
}

.contextMenu LI:not(.disabled) A:hover {
    color: var(--toolboxItemActiveColor) !important;
}

.contextMenu LI.separator {
    margin-top: 0px !important;
    border-color: var(--svgEditWorkareaContextBorder) !important;
}

.svg-tools-fly {
    z-index: 9999;
    position: absolute;
    right: 15px;
    top: 55px;
    /* overflow-y: auto; */
    max-height: calc(100% - 75px);
    background-color: var(--toolboxBackground);
    box-shadow: 0px 1px 4px 0px #000;
}

.svg-tool-button {
    vertical-align: middle;
    display: inline-table;
    /* display: inline-block; */
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 2px 2px 2px 2px;
    background-color: var(--toolboxButton);
    /* padding-top: 5px; */
}

.svg-tool-button span {
    display: block;
    margin: auto;
}

.svg-tool-button:hover {
    background: rgba(0, 0, 0, 0.1);
}

.svg-tool-active, .svg-tool-active:active, .svg-tool-active:hover {
    background-color: rgba(48,89,175,1);
}

.leave-header-area {
    margin-top: 36px;
}

.svg-sidenav {
    min-width: 160px;
    max-width: 200px;
    width: 200px;
    background: var(--sidenavBackgroung);
}

/* tool bar top */
.tools_panel {
    background-color: var(--headerBackground);
    color: var(--headerColor);
}
.main-btn {
    height: 34px;
    width: 34px;
    min-width: unset !important;
    padding: unset !important;
    line-height: 34px;
    margin-left: 5px;
    margin-right: 5px;
}

.main-btn mat-icon {
    font-size: 24px;
    height: unset;
    width: unset;
}

.main-btn .to-top {
    display: inline-block;    ;
    height: 34px;
    width: 34px;    
}

.main-btn .to-bottom  {
    display: inline-block;
    height: 34px;
    width: 34px;
}

.main-btn .to-path {
    display: inline-block;
    height: 34px;
    width: 34px;
}

.main-btn .group {
    background: url("/assets/images/group.svg") no-repeat center center;
    background-size: contain;
    display: inline-block;
    height: 34px;
    width: 34px;
}

.main-btn .ungroup {
    background: url("/assets/images/ungroup.svg") no-repeat center center;
    background-size: contain;
    display: inline-block;
    height: 34px;
    width: 34px;
}

.main-btn-sep {
    width: 1px;
    background: #888;
    border-left: 1px outset #888;
    margin: 5px 3px;
    padding: 0;
    height: 24px;
}

.svg-element-selected {
    display: inline-flex;
}

/* --------------- */
/* left panel */
/* --------------- */
.view-panel {
    max-height: 400px;
    overflow: auto;
}
.leftbar-edit-btn {
    margin-top: 2px;
    font-size: 18px;
    height: 18px;
    width: 18px;
    padding-right: 15px;
}

.leftbar-panel {
    margin-top: 4px;
    padding: 0px 0px 0px 0px;
    font-size: 11px;
    background-color: var(--toolboxPanelBackgroung);
    color: var(--toolboxColor);
    overflow: auto;
    max-height: 200px;
}

.leftbar-item {
    padding: 3px 0px 1px 0px;
    display: flow-root;
}

.leftbar-item-active {
    background-color: var(--toolboxItemActiveBackgroung);
    color: var(--toolboxItemActiveColor);
}

.leftbar-item span {
    float: left;
}

.leftbar-item .leftbar-item-type {
    float: left;
    padding-left: 4px;
    font-size: 16px;
    line-height: 20px;
    opacity:0.5;
}

.leftbar-item mat-icon {
    float: right;
    font-size: 18px;
}

::ng-deep .svg-workarea-leftbar-p .mat-expansion-panel-body {
    margin: 0px 0px 0px 0px !important;
    padding: 0px 0px 0px 0px !important;
    /* padding-left: 10px !important; */
    flex-wrap: wrap !important;
}

::ng-deep .svg-workarea-fly-p .mat-expansion-panel-body {
    margin: 0px 0px 0px 0px !important;
    padding: 0px 0px 0px 0px !important;
    /* padding-left: 10px !important; */
    flex-wrap: wrap !important;
}

::ng-deep .mat-menu-item {
    font-size: 11px;
    height: 30px !important;
    line-height: unset !important;
}

.rightbar-panel {
    margin-top: 4px;
    background-color: var(--toolboxPanelBackgroung);
    color: var(--toolboxColor);
}

.rightbar-input {
    width: 70px;
}

.mat-expansion-panel-header-title span {
    padding-top: 3px;
}
.mat-expansion-panel-spacing {
    margin: 0px 0px 0px 0px !important;
}

.bottom-bar {
    position: absolute;
    left: 0px;
    right: 0;
    bottom: 0;
    height: 30px;
    overflow: visible;
}

.zoom-menu {
    float: left;
    padding-left: 5px;
    width: 90px;
}

.zoom-value {
    border: unset;
    display: inline-block;
}

.zoom-label {
    display: inline-block;
    height: 25px;
}
.zoom-value span {
    display: inline-block;
}

.zoom-value .selection,
button {
    display: inline-block;
}
.zoom-value button {
    /* width: unset; */
    z-index: 9999;
    background-color: var(--footZoomBackground);
    color: var(--footZoomColor);
    border: unset;
}

.zoom-value ul,
li {
    /* width: unset; */
    background-color: var(--footZoomBackground);
    color: var(--footZoomColor);
    border: unset;
}

.zoom-value ul {
    left: 0px;
}

.zoom-value li:hover {
    background-color: var(--footZoomBackgroundHover);
}

.colors {
    position: absolute;
    left: 25px;
    top: 0px;
}

.colors-palette {
    position: absolute;
    left: 165px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

.color-fill {
    position: relative;
    top: 4px;
    left: 12px;
    cursor: pointer;
    width: 13px;
    height: 13px;
    border: 1px solid rgba(71, 71, 71, 1);
}

.color-stroke {
    position: absolute;
    top: 4px;
    left: 30px;
    cursor: pointer;
    width: 13px;
    height: 13px;
    border: 1px solid rgba(71, 71, 71, 1);
}

.style-stroke {
    display: block !important;
    margin: 0px 10px 12px 10px;
    background-color: inherit;
    color: inherit;
    background-color: var(--toolboxPanelBackgroung);
    color: var(--toolboxColor);
}

.style-stroke option {
    background-color: var(--toolboxPanelBackgroung);
    color: var(--toolboxColor);
}

.font-family {
    display: block;
    margin: 0px 10px 12px 10px;
    background-color: inherit;
    color: inherit;
    width: 174px;
}

.font-family option {
    background-color: var(--toolboxPanelBackgroung);
    color: var(--toolboxColor);
}

.text-align {
    display: block;
    margin: 0px 10px 12px 10px;
    background-color: inherit;
    color: inherit;
    width: 75px;
}

.text-align option {
    background-color: var(--toolboxPanelBackgroung);
    color: var(--toolboxColor);
}

.view-item-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 54px);
}

select#start_marker option[value="A"] {
    background: url("/assets/images/select-pointer.svg");
}
select#start_marker option[value="B"] {
    background: url("/assets/images/select-pointer.svg");
}
select#start_marker option[value="C"] {
    background: url("/assets/images/select-pointer.svg");
}
select#start_marker option[value="D"] {
    background: url("/assets/images/select-pointer.svg");
}

.icon-select {
    background: url("/assets/images/select-pointer.svg") no-repeat center center;
    background-size: contain;
    height: 30px;
    width: 30px;
}

.icon-pencil {
    background: url("/assets/images/pencil.svg") no-repeat center center;
    background-size: contain;
    height: 30px;
    width: 30px;
}

.icon-line {
    background: url("/assets/images/line.svg") no-repeat center center;
    background-size: contain;
    height: 30px;
    width: 30px;
}

.icon-rect {
    background: url("/assets/images/rect.svg") no-repeat center center;
    background-size: contain;
    height: 30px;
    width: 30px;
}

.icon-circle {
    background: url("/assets/images/circle.svg") no-repeat center center;
    background-size: contain;
    height: 30px;
    width: 30px;
}

.icon-ellipse {
    background: url("/assets/images/ellipse.svg") no-repeat center center;
    background-size: contain;
    height: 30px;
    width: 30px;
}

.icon-path {
    background: url("/assets/images/path.svg") no-repeat center center;
    background-size: contain;
    height: 30px;
    width: 30px;
}

.icon-text {
    background: url("/assets/images/text.svg") no-repeat center center;
    background-size: contain;
    height: 30px;
    width: 30px;
}

.icon-image {
    background: url("/assets/images/image.svg") no-repeat center center;
    background-size: contain;
    height: 30px;
    width: 30px;
}

.icon-align-left {
    background: url("/assets/images/align-left.svg") no-repeat center center;
    background-size: contain;
    height: 30px;
    width: 30px;
}

.icon-align-center {
    background: url("/assets/images/align-center.svg") no-repeat center center;
    background-size: contain;
    height: 30px;
    width: 30px;
}

.icon-align-right {
    background: url("/assets/images/align-right.svg") no-repeat center center;
    background-size: contain;
    height: 30px;
    width: 30px;
}

.icon-align-top {
    background: url("/assets/images/align-top.svg") no-repeat center center;
    background-size: contain;
    height: 30px;
    width: 30px;
}

.icon-align-middle {
    background: url("/assets/images/align-middle.svg") no-repeat center center;
    background-size: contain;
    height: 30px;
    width: 30px;
}

.icon-align-bottom {
    background: url("/assets/images/align-bottom.svg") no-repeat center center;
    background-size: contain;
    height: 30px;
    width: 30px;
}

.icon-flip-orizontal {
    background: url("/assets/images/flip-orizontal.svg") no-repeat center center;
    background-size: contain;
    height: 30px;
    width: 30px;
}

.icon-flip-vertical {
    background: url("/assets/images/flip-vertical.svg") no-repeat center center;
    background-size: contain;
    height: 30px;
    width: 30px;
}

.icon-linejoin-miter {
    background: url("/assets/images/linejoin-miter.svg") no-repeat center center;
    background-size: contain;
    height: 30px;
    width: 30px;
}

.icon-linejoin-round {
    background: url("/assets/images/linejoin-round.svg") no-repeat center center;
    background-size: contain;
    height: 30px;
    width: 30px;
}

.icon-linejoin-bevel {
    background: url("/assets/images/linejoin-bevel.svg") no-repeat center center;
    background-size: contain;
    height: 30px;
    width: 30px;
}

.icon-linecap-butt {
    background: url("/assets/images/linecap-butt.svg") no-repeat center center;
    background-size: contain;
    height: 30px;
    width: 30px;
}

.icon-linecap-square {
    background: url("/assets/images/linecap-square.svg") no-repeat center center;
    background-size: contain;
    height: 30px;
    width: 30px;
}

.icon-linecap-round {
    background: url("/assets/images/linecap-round.svg") no-repeat center center;
    background-size: contain;
    height: 30px;
    width: 30px;
}

.icon-tool {
    background-size: auto;
    height: 30px;
    width: 30px;
    color: rgba(255, 255, 255, 1);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
}

.material-icon-tool {
    text-align: center;
    line-height: 30px;
    font-size: 22px;
}

.icon-switch {
    background: url("/assets/images/switch.svg") no-repeat center center;
}
.icon-value {
    background: url("/assets/images/value.svg") no-repeat center center;
}
.icon-editvalue {
    background: url("/assets/images/editvalue.svg") no-repeat center center;
}
.icon-selectvalue {
    background: url("/assets/images/selectvalue.svg") no-repeat center center;
}
.icon-progress-v {
    background: url("/assets/images/progress-v.svg") no-repeat center center;
}
.icon-semaphore {
    background: url("/assets/images/semaphore.svg") no-repeat center center;
}
.icon-button {
    background: url("/assets/images/button.svg") no-repeat center center;
}
.icon-chart {
    background: url("/assets/images/chart.svg") no-repeat center center;
}
.icon-bag {
    background: url("/assets/images/bag.svg") no-repeat center center;
}
.icon-pipe {
    background: url("/assets/images/pipe.svg") no-repeat center center;
}
.icon-slider {
    background: url("/assets/images/slider.svg") no-repeat center center;
}
.icon-graphbar {
    background: url("/assets/images/graphbar.svg") no-repeat center center;
}
.icon-table {
    background: url("/assets/images/table.svg") no-repeat center center;
}
.icon-iframe {
    background: url("/assets/images/iframe.svg") no-repeat center center;
}