<div style="display: block;" [style.height]="height + 'px'" [style.width]="width + 'px'">
    <canvas baseChart #ngchart 
            [datasets]="barChartData" 
            [labels]="barChartLabels" 
            [options]="barChartOptions" 
            [plugins]="barChartPlugins"
            [type]="barChartType">
    </canvas>
</div>
<div class="graph-toolbar" *ngIf="barChartOptions.offline">
    <button mat-icon-button (click)="onRefresh(true)" class="small-icon-button default-color" [style.color]="barChartOptions.plugins?.title?.color || 'black'">
        <mat-icon  [ngClass]="{'reload-active': reloadActive}">autorenew</mat-icon>
    </button>
</div>