<div style="display: block;" [style.height]="height + 'px'" [style.width]="width + 'px'">
    <canvas baseChart #ngchart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
        [chartType]="barChartType">
    </canvas>
</div>
<div class="graph-toolbar" *ngIf="barChartOptions.offline">
    <button mat-icon-button (click)="onRefresh()" class="small-icon-button">
        <mat-icon  [ngClass]="{'reload-active': reloadActive}">autorenew</mat-icon>
    </button>
</div>