.home-body {
    display: table;
    margin: 0 auto;
}

.home-container {
    // padding-top: 5px;
    position: absolute;
	left: 0px;
	top: 48px;
	bottom: 0px;
	right: 0px;
	// border: 5px solid black;
	// overflow: hidden;

	// -webkit-user-select: none;
	// -moz-user-select: none;
	// -ms-user-select: none;
	// -o-user-select: none;
	// user-select: none;
}

.header {
    display: block;
    z-index: 9999 !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2) !important; 
    /* min-height: 46px !important; */
    /* max-height: 46px !important; */
    height: 46px !important;
    padding-left: 4px;
    padding-right: 10px;
    background-color: rgba(255, 255, 255, 1);
}

.header-title {
    display: inline-block;
    margin-left: 20px;
    min-width: 200px;
    text-align: right;
    line-height: 46px
}
.header-button {  
    float: right;
    width: 30%;
    line-height: 46px;
    text-align: right;
    margin-right: 10px;
    padding-right: 50px;
    border-right-width: 1px;
    border-right-style: solid;
}
.header-button mat-icon {
    font-size: 28px;
    width: 28px;
    height:28px;
}
.button-counter {
    display: inline-block;
    position: absolute;
    bottom: 7px;
    right: 1px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    text-align: center;
    line-height: 16px;
    font-size: 12px;
    font-weight: bold;
}

.alarm-layout {
    position: relative;
    right: 45px;    
    display: inline-block;
    width: 40px;
}

.info-layout {
    position: relative;
    right: 20px;
    display: inline-block;
    width: 40px;
}

.sidenav {
    padding: 0px 0px 0px 0px;
    background-color: rgba(44, 44, 44, 1) !important;
    color: rgba(255, 255, 255, 1) !important;
    /* max-width: 100px; */
    display: inline-block !important;
    top:0px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2) !important; 
}

.sidenav-container {
    width: 100%;
    height: 100% !important;
    background-color:#FFFFFF;
}

::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
    background-color: transparent;
} 

::ng-deep #myuserinfo {
    padding: unset !important;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2),0 2px 6px 0 rgba(0,0,0,0.18);
}

#alarms-panel {
    background: white;
    height: 300px;
    transition: bottom 300ms;
    width: 100%;
    position: fixed; 
    bottom: -300px;
}

#alarms-panel.is-active {
    bottom: 0px;
    transition: bottom 300ms;
}

#alarms-panel.is-full-active {
    top: 46px;
    height: 100%;
    transition:  top 300ms;
}