.home-body {
    display: table;
    margin: 0 auto;
}
.banner {
    display: flex;
    position: absolute;
	left: 0px;
    top:0px;
    right: 0px;
    z-index: 999999;
    font-size: 16px;
    padding-left: 25px;
    height: 48px;
    background-color: #B71C1C;
    color:#FFFFFF;
    div {
        display: flex;
    align-items: center;
    margin: auto;
    }
    mat-icon {
        margin-left: 10px;
    }
    span {
    }
}

.home-container {
    position: absolute;
	left: 0px;
    top:0px;
	bottom: 0px;
    right: 0px;
    overflow: auto;
	// -webkit-user-select: none;
	// -moz-user-select: none;
	// -ms-user-select: none;
	// -o-user-select: none;
	// user-select: none;
}
.home-container-nav {
    position: absolute;
	left: 0px;
    top:48px;
	bottom: 0px;
    right: 0px;
    overflow: auto;
	// -webkit-user-select: none;
	// -moz-user-select: none;
	// -ms-user-select: none;
	// -o-user-select: none;
	// user-select: none;
}
.home-info {
    text-align: center;
}

.header {
    display: flex;
    z-index: 9999 !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2) !important; 
    /* min-height: 46px !important; */
    /* max-height: 46px !important; */
    height: 46px !important;
    padding-left: 4px;
    padding-right: 10px;
    background-color: rgba(255, 255, 255, 1);
    line-height: 46px;

    .items {
        flex: 1;
        align-items: center;
        margin-left: 30px;
    }
}

.header-login {
    float: right; 
    line-height: 46px;
    border-left-width: 1px;
    border-left-style: solid;
    padding-left: 10px;

    .info {
        display: inline-block;
        line-height: 46px;
        vertical-align: middle;
        max-width: 140px;
    }
    .primary {
        display: block;
        font-size: 14px;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: fit-content;
        line-height: 16px;
    }
    .secondary {
        display: block;
        font-size: 14px;
        font-weight: 100;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: fit-content;
        color: gray;
        line-height: 16px;
    }
}

.header-date-time {
    border-left-width: 1px;
    border-left-style: solid;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}

.header-button {  
    float: right;
    line-height: 46px;
    text-align: right;
    margin-right: 10px;
}

.header-button mat-icon {
    font-size: 28px;
    width: 28px;
    height:28px;
}
.button-counter {
    display: inline-block;
    position: absolute;
    bottom: 7px;
    right: 1px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    text-align: center;
    line-height: 16px;
    font-size: 12px;
    font-weight: bold;
}

.alarm-layout {
    position: relative;
    right: 45px;    
    display: inline-block;
    width: 40px;
}

.info-layout {
    position: relative;
    right: 20px;
    display: inline-block;
    width: 40px;
}

.sidenav {
    padding: 0px 0px 0px 0px;
    background-color: rgba(44, 44, 44, 1) !important;
    color: rgba(255, 255, 255, 1) !important;
    /* max-width: 100px; */
    display: inline-block !important;
    top:0px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2) !important; 
}

.sidenav-container {
    width: 100%;
    height: 100% !important;
    background-color:#FFFFFF;
}

::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
    background-color: transparent;
} 

::ng-deep #myuserinfo {
    padding: unset !important;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2),0 2px 6px 0 rgba(0,0,0,0.18);
}

#alarms-panel {
    background: white;
    height: 300px;
    transition: bottom 300ms;
    width: 100%;
    position: fixed; 
    bottom: -300px;
}

#alarms-panel.is-active {
    bottom: 0px;
    transition: bottom 300ms;
    z-index: 999;
}

#alarms-panel.is-full-active {
    top: 46px;
    height: 100%;
    transition:  top 300ms;
    z-index: 999;
}
