:host {
    .container {
        .dialog-content
        {
            width: 550px;
            min-height: 220px;
            overflow: hidden;
            padding-bottom: 7px;
            .item-block {
                display: block;

                mat-select,
                input,
                span {
                    width: calc(100% - 5px);
                }
            }
        }
    }
}