<div class="sidenav-menu" *ngIf="showSidenav" style="height: 100%" [ngClass]="'sidenav-menu-' + layout.navigation.type"
                        [style.background-color]="layoutNavigation.bkcolor" [style.color]="layoutNavigation.fgcolor">
    <mat-list >
        <mat-list-item style="height: 35px; font-weight: bold; padding-left: 10px;padding-bottom: 10px;margin-bottom: 10px">
            {{'sidenav.title' | translate}}
        </mat-list-item>
        <mat-list-item *ngFor="let item of layout.navigation.items; let i = index" [ngClass]="'menu-item-' + layout.navigation.type">
            <button type="button" mat-button class="sidenav-btn" (click)="onGoTo(item)" [ngSwitch]="layout.navigation.type">
                <div *ngSwitchCase="'icon'" class="menu-item-content-icon">
                    <mat-icon>{{item.icon}}</mat-icon>
                </div>
                <div *ngSwitchCase="'text'" class="menu-item-content-text">
                    <span>{{item.text}}</span>
                </div>
                <div *ngSwitchCase="'block'" class="menu-item-content-block">
                    <mat-icon style="display: block;">{{item.icon}}</mat-icon>
                    <span>{{item.text}}</span>
                </div>
                <div *ngSwitchCase="'inline'" class="menu-item-content-inline">
                    <mat-icon style="display: inline-block">{{item.icon}}</mat-icon>
                    <span style="display: inline-block">{{item.text}}</span>
                </div>
            </button>
        </mat-list-item>
    </mat-list>
</div>