:host {
    .container {
        width: 100%;
        height: 100% !important;
        background-color: #FFFFFF
    }

    .work-void {
        height: 100%;
        width: 100%;
    }

    .work-editor {
        background-color: #FFFFFF;
        height: calc(100% - (46px));
        min-width: 800px;
    }

    .work-home {
        background-color: #FFFFFF;
        height: 100%;
        min-width: 640px;
    }

    .header {
        /* height: 40px !important;     */
    }

    .footer {
        height: 20px;
        position: absolute;
        bottom: 0px;
    }

    .fab-button {
        position: absolute;
        bottom: 20px;
        left: 10px;
        color: rgba(255, 255, 255, 1);
        background-color: rgba(68, 138, 255, 0);
        /* background-color: rgba(0,0,0,0.9); */
    }

    .banner {
        display: flex;
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        z-index: 999999;
        font-size: 16px;
        padding-left: 25px;
        height: 48px;
        background-color: #B71C1C;
        color: #FFFFFF;

        div {
            display: flex;
            align-items: center;
            margin: auto;
        }

        mat-icon {
            margin-left: 10px;
        }
    }
}