
.container {
    width: 100%;
    height: 100% !important;
    background-color:#FFFFFF
}

.work-void {
    height: 100%;
    width: 100%;
}

.work-editor {
    background-color:#FFFFFF;
    height: calc(100% - (46px));
    min-width: 800px;
}

.work-home {
    background-color:#FFFFFF;
    height: 100%;
    min-width: 800px;
}

.header {
    /* height: 40px !important;     */
}

.footer {
    height: 20px;
    position:absolute;
    bottom:0px;
}

.fab-button {
    position: absolute;
    bottom: 20px;
    left: 10px;
    color: rgba(255,255,255,1);
    background-color: rgba(68,138,255, 0);
    /* background-color: rgba(0,0,0,0.9); */
}