<div id="main-container" class="container">
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="warn" style="position: absolute; top: 0px; left: 0px; right: 0px; z-index: 99999;">
    </mat-progress-bar>
    <app-header class="header" [hidden]="isHidden()"></app-header>
    <div [ngClass]="getClass()">
        <router-outlet></router-outlet>
        <ngx-fab-button *ngIf="showDevNavigation()" #fabmenu icon="menu" iconOpen="menu" class="fab-button" color="rgba(68,138,255, 1)">
            <ngx-fab-item-button color="rgba(68,138,255, 1)" content="{{'app.editor' | translate}}" (click)="onGoTo('editor')" (touchend)="onGoTo('editor')"></ngx-fab-item-button>
            <ngx-fab-item-button color="rgba(68,138,255, 1)" content="{{'app.lab' | translate}}" (click)="onGoTo('lab')" (touchend)="onGoTo('lab')"></ngx-fab-item-button>
            <ngx-fab-item-button color="rgba(68,138,255, 1)" content="{{'app.home' | translate}}" (click)="onGoTo('home')" (touchend)="onGoTo('home')"></ngx-fab-item-button>
        </ngx-fab-button>
    </div>
</div>