<div style="display: block">
  <mat-form-field>
    <input matInput [(ngModel)]="settings.name" placeholder="Name" type="text">
  </mat-form-field>
</div>
<div style="display: block">
  <mat-form-field>
    <mat-select placeholder="Signal" [(ngModel)]="settings.property.signalid">
      <mat-option *ngFor="let sig of signals" [value]="sig.id">
        {{ sig.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div style="display: block">
  <mat-form-field>
    <input matInput [(ngModel)]="settings.property.onmin" placeholder="On Min" type="text">
  </mat-form-field>
</div>
<div style="display: block">
  <mat-form-field>
    <input matInput [(ngModel)]="settings.property.onmax" placeholder="On Max" type="text">
  </mat-form-field>
</div>