<div class="tester-panel" *ngIf="show" ngDraggable>
    <style>
        pre {
            white-space: pre-line;
        }
    </style>
    <div name="dlgTesterForm">
        <div class="tester-header">
            <div class="tester-title">
                {{'tester.title' | translate}}
            </div>
            <div class="tester-close" (click)="close()">
                &times;
            </div>
        </div>
        <div class="tester-body">
            <div class="_svg-property" mat-dialog-actions>
            </div>
            <br>
            <div *ngFor="let item of items">
                <div class="svg-property">
                    <span>{{item.source}} - {{item.name}} :</span>
                    <input id="item.name" [(ngModel)]="item.value" type="text" class="no-spinners" />
                    <button mat-raised-button color="primary" type="button" class="" (click)="setSignal(item)">
                        {{'tester.send' | translate}}
                    </button>
                </div>
            </div>
        </div>
        <div class="tester-output">
            <span *ngFor="let item of output; index as i" class="output-item">
                {{item}}
            </span>
        </div>
    </div>
</div>