:host {
  .container {
    width: 760px;
    position: relative;
  }
  .toolbox {
      float: right;
      line-height: 44px;
  }

  .toolbox button {
      /* margin-right: 8px; */
      margin-left: 10px;
  }

  ::ng-deep .input-text .mat-form-field-infix {
      padding-top: 5px;
      padding-bottom: 0px;
  }

  ::ng-deep .mat-dialog-container {
      display: inline-table !important;
  }

  ::ng-deep .mat-tab-label {
    height: 34px !important;
  }

  .mat-tab-container {
    min-height:300px;
    height:60vmin;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 15px;
  }

  .mat-tab-container > div {
    display: block;
  }
}
