<div *ngFor="let item of events; index as i" class="item">
  <div class="my-form-field" style="width: 140px;">
    <span>Type</span>
    <mat-select [(value)]="item.type" >
      <mat-option *ngFor="let ev of eventType | enumToArray" [value]="ev.key">
        {{ ev.value }}
      </mat-option>
    </mat-select>
  </div>
  <div class="my-form-field" style="width: 140px;padding-left: 20px">
    <span>Action</span>
    <mat-select [(value)]="item.action" (change)="item.actparam = '';">
      <mat-option *ngFor="let type of actionType | enumToArray" [value]="type.key">
        {{ type.value }}
      </mat-option>
    </mat-select>
  </div>
  <div class="my-form-field" style="width: 200px;padding-left: 20px" *ngIf="withDestination(item.action)">
    <span>Destination</span>
    <mat-select [(value)]="item.actparam">
      <mat-option *ngFor="let v of views; index as i" [(value)]="v.id">{{v.name}}</mat-option>
    </mat-select>
  </div>
  <div class="my-form-field" style="padding-left: 20px;" *ngIf="withSetValue(item.action)">
    <span>Value</span>
    <input [(ngModel)]="item.actparam" type="number" style="width: 100px">
  </div>
  <div class="item-remove">
    <button mat-icon-button (click)="onRemoveEvent(i)" class="remove">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</div>