.item {
    display: block;
    min-height: 54px;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 5px 0px 0px 0px;
    margin-bottom: -1px;
    min-width: 664px;
}

.remove {
    position: relative;
    top: 4px;
    right: 0px;
}

.item-remove {
    /* display: inline-block; */
    float: right;
    /* padding-top: 6px; */
    /* min-width: 140px; */
}