:host {
    .container {
        margin-top: 20px;
    }
    .var-ref {
        display: block;
        flex-variable {
            display: inline-block;

            ::ng-deep .value {
                margin-right: 13px;
            }
            ::ng-deep .variable-input {
                min-width: 400px;
            }
        }
        span {
            margin-left: 5px;
            margin-right: 5px;
            display: inline-block;
        }
    }
}