.header-panel {
    /* z-index: 9999 !important; */
    /* position: fixed; */
    /* top: 0px; */
    /* left: 0px; */
    background-color: var(--headerBackground);
    color: var(--headerColor);
    height: 36px;
    width: 100%;
    text-align: center;
    line-height: 32px;
    /* border-top: 1px solid var(--headerBorder); */
    border-bottom: 1px solid var(--headerBorder);
}

.work-panel {
    position: absolute;
    top: 37px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: var(--workPanelBackground);
}

.filter {
    display: inline-block;
    min-height: 60px;
    padding: 8px 24px 0;
}

.filter .mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-table {
    overflow: auto;
    height: 100%;
}
  
.mat-header-cell.mat-sort-header-sorted {
    /* color: black; */
}

.mat-header-row {
    top: 0;
    position: relative;
    z-index: 1;
    /* background-color: rgba(76,76,76,1); */
    /* color: white; */
    min-height: 35px;
}
.mat-header-cell {
    font-size: 14px;
}
.mat-row {
    min-height: 34px;
}
.mat-column-ontime {
    flex: 0 0 150px;
}
.mat-column-offtime {
    flex: 0 0 150px;
}
.mat-column-text {
    flex: 2 1 200px;
}
.mat-column-type {
    flex: 0 1 120px;
}
.mat-column-group {
    flex: 1 1 100px;
}

.mat-column-status {
    flex: 0 1 160px;
}
.mat-column-ack {
    flex: 0 0 60px;
}
.mat-column-acktime {
    flex: 0 0 150px;
}
.mat-column-userack {
    flex: 0 0 120px;
}
.mat-column-history {
    flex: 0 0 60px;
}

.header-tools {
    position: fixed;
    right: 30px;
    line-height: 32px;
}

.header-tools div {
    display: inline-block;
    padding-left: 10px;
}

.header-tools-options {
    width: 30px;
    height: 30px;
    line-height: 30px;
    vertical-align: bottom;
}