.view-container {
    display: table;
}

.fab-card {
    position: absolute;
    width: 1300px;
    height: 800px;
    /* background-color:black; */
    /* box-shadow: 0 2px 5px 0 rgba(0,0,0,.26); */
    box-shadow: 0px 1px 4px 1px #888888;
}

.card-close {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 22px;
    width: 22px;
    color: rgba(0, 0, 0, 0.7);
    background-color: transparent;
    font-size: 12px;
    cursor: move !important;
}

.card-move-area {
    z-index: 999;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 22px;
}

.card-close i {
    float: right;
}

.fab-iframe {
    position: absolute;
    width: 800px;
    height: 600px;
    background-color: black;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    /* box-shadow: 0px 2px 6px -1px #888888; */
}

.iframe-header {
    display: block;
    height: 22px;
    width: 100%;
    color: white;
    background-color: black;
    font-size: 12px;
    text-align: center;
    line-height: 22px;
}

.iframe-header i {
    float: right;
    color: white;
}

.iframe-class {
    display: block;
    height: 100%;
    transform-origin: 0 0;
    /* transform-origin:left top; */
}

.ng-draggable {
    cursor: move;
}

.dialog-modal {
    /* display: none; */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*background-color: rgb(0,0,0); /* Fallback color */
    /*background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
::ng-deep .fuxa-dialog-property .mat-dialog-container {
    padding: 0;
}

.dialog-modal-content {
    border: 1px solid #888;
    box-shadow: 0 0 12px #000000 !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dialog-modal-close {
    position: relative;
    top: 0px;
    right: 0px;
    height: 22px;
    width: 100%;
    color: rgba(0, 0, 0, 0.7);
    background-color: transparent;
    font-size: 12px;
    cursor: move !important;
}

.dialog-modal-close i {
    float: right;
}

/* input */
.dialog-input {
    z-index: 9999; /* Sit on top */
    box-shadow: 1px 2px 5px -1px #888;
    position: absolute;
    padding: 5px;
    background-color: #fff;
    min-width: 80px;
    border: 0.5px solid #888;
    border-radius: 2px;
}

.dialog-input input {
    border: 0.5px solid rgba(0,0,0,0.1);
    border-radius: 2px;
    padding: 6px 3px 7px 4px;
    width: 100%;
    display: block;
    margin: 2px auto;
}

.dialog-input button {
    min-width: 80px;
}