<div>
    <h1 mat-dialog-title style="display:inline-block" mat-dialog-draggable>Menu Item</h1>
    <div mat-dialog-content>
        <div class="my-form-field" style="display: block;margin-bottom: 10px;">
            <span>Icon</span>
            <mat-select [(value)]="data.item.icon" style="width: 80px" #iconsel>
                <mat-select-trigger>
                    <mat-icon>{{iconsel.value}}</mat-icon>
                </mat-select-trigger>
                <mat-option *ngFor="let icon of icons" [value]="icon">
                    <mat-icon class="">{{ icon }}</mat-icon>
                </mat-option>
            </mat-select>
        </div>
        <div class="my-form-field" style="display: block;margin-bottom: 10px;">
            <span>Text</span>
            <input [(ngModel)]="data.item.text" type="text" style="width:100%">
        </div>
        <div class="my-form-field" style="display: block;margin-bottom: 10px;">
            <span>View by Click</span>
            <mat-select [(value)]="data.item.view" style="width: 300px">
                <mat-option *ngFor="let view of data.views" [value]="view.id">
                    {{ view.name }}
                </mat-option>
            </mat-select>
        </div>
        <div class="my-form-field" style="display: block;margin-bottom: 10px;">
            <span>Link by Click</span>
            <input [(ngModel)]="data.item.link" type="text" style="width:100%" [readonly]="data.item.view">
        </div>        
    </div>
    <div mat-dialog-actions style="float:right; margin-bottom:0px;padding-bottom:0px">
        <button mat-raised-button (click)="onNoClick()">CANCEL</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>OK</button>
    </div>
</div>