<div class="iframe-header">
    <div class="iframe-header-left">
        <button mat-button title="Settings" class="header-btn" (click)="onSetup()">
            <mat-icon aria-label="Settings">settings</mat-icon>
        </button>
    </div>
    <div class="iframe-header-center">
        <span class="iframe-title">Node-RED Flow Editor</span>
    </div>
    <div class="iframe-header-right">
        <button mat-button title="Close" class="header-btn" (click)="onClose()">
            <mat-icon aria-label="Close">close</mat-icon>
        </button>
    </div>
</div>
<div class="iframe-container">
    <iframe width="100%" height="100%" frameBorder="0" [src]="urlSafe" sandbox="allow-forms allow-scripts allow-modals allow-same-origin"></iframe>
</div>
