
.alarm-sample {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message-error {
    display: inline-block;
    /* background-color: red;; */
    color:red;
}

::ng-deep .mat-tab-label {
    height: 34px !important;
    min-width: 120px !important;
}

.action-item {
    display: block;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    margin-bottom: 5px;
}