.header-panel {
    background-color: var(--headerBackground);
    color: var(--headerColor);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 36px;
    width: 100%;
    text-align: center;
    line-height: 36px;
    border-bottom: 1px solid var(--headerBorder);

    mat-icon {
        display: inline-block;
        vertical-align: text-top;
    }
}

.work-panel {
    position: absolute;
    top: 37px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: var(--workPanelBackground);

    .container {
        display: flex;
        flex-direction: column;
        min-width: 300px;
        position: absolute;
        bottom: 0px;
        top: 0px;
        left:0px;
        right:0px;
    }

    .mat-table {
        overflow: auto;
        /* min-width: 1560px; */
    }
      
    .mat-row {
        min-height: 40px;
        height: 43px;
    }
    
    .mat-cell {
        font-size: 13px;
    }
    
    .mat-header-row {
        top: 0;
        position: sticky;
        z-index: 1;
    }
    
    
    .mat-header-cell {
        font-size: 15px;
    }
    
    .mat-column-select {
        overflow: visible;
        flex: 0 0 100px;
    }
    
    .mat-column-index {
        overflow: visible;
        flex: 0 0 100px;
    }
    
    .mat-column-name {
        flex: 0 0 200px;
    }
    
    .mat-column-description {
        flex: 2 1 250px;
    }
}

