:host {
    .panel-selection {
        position: absolute;
        top: 35px;
        bottom: 0px;
        overflow: auto;
        width:calc(100% - 10px);
    }

    .section-item {
        width: 100%;
    }

    .section-item-block input, span {
        width:calc(100% - 15px);
    }
    .section-item-block mat-select {
        width:calc(100% - 8px);
    }

    .item-device-tag {
        width:calc(100% - 5px);
    }
}