:host {
    display: block;
    height: 100%;

    .header-panel {
        /* z-index: 9999 !important; */
        background-color: var(--headerBackground);
        color: var(--headerColor);
        position: fixed;
        top: 0px;
        left: 0px;
        height: 36px;
        width: 100%;
        text-align: center;
        line-height: 36px;
        border-bottom: 1px solid var(--headerBorder);

        mat-icon {
            display: inline-block;
            vertical-align: text-top;
        }
    }

    .work-panel {
        position: absolute;
        top: 37px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: var(--workPanelBackground);
        overflow: hidden;
    }

    .container {
        display: flex;
        flex-direction: column;
        min-width: 300px;
        position: absolute;
        bottom: 0px;
        top: 0px;
        left:0px;
        right:0px;
        overflow-y: auto;
    }

    .mat-table {
        width: 100%;
        /* min-width: 1560px; */
    }

    .mat-row,
    .mat-mdc-row,
    .my-mat-row {
        min-height: 44px !important;
        height: 44px !important;
        border-top: none !important;
        border-bottom: none !important;
    }

    .mat-cell,
    .mat-mdc-cell,
    .mdc-data-table__cell {
        font-size: 13px;
        border-top: none !important;
        border-bottom: 1px solid rgb(81, 81, 81) !important;
    }

    .mat-header-row,
    .mat-mdc-header-row {
        top: 0;
        position: sticky;
        z-index: 10;
        background-color: var(--workPanelBackground);
    }

    .mat-header-cell {
        font-size: 15px;
        position: sticky;
        top: 0;
        z-index: 11;
        background-color: var(--workPanelBackground);
    }

    .mat-column-select {
        overflow: visible;
        flex: 0 0 100px;
    }

    .mat-column-username {
        flex: 0 0 200px;
    }

    .mat-column-fullname {
        flex: 2 1 250px;
    }

    .mat-column-groups {
        flex: 2 1 650px;
    }

    .mat-column-start {
        flex: 2 1 250px;
    }

    .mat-column-remove {
        flex: 0 0 60px;
    }

    .selectidthClass{
        flex: 0 0 50px;
    }

    .show-password {
        bottom: 2px;
        right: 8px;
        position: absolute;
    }

    .my-header-filter ::ng-deep .mat-sort-header-button {
        display: block;
        text-align: left;
        margin-top: 5px;
    }

    .my-header-filter ::ng-deep .mat-sort-header-arrow {
        top: -12px;
        right: 20px;
    }

    .my-header-filter-input {
        display: block;
        margin-top: 4px;
        margin-bottom: 6px;
        padding: 3px 1px 3px 2px;
        border-radius: 2px;
    }
}
