.header-panel {
    /* z-index: 9999 !important; */
    /* position: fixed; */
    /* top: 0px; */
    /* left: 0px; */
    background-color: var(--headerBackground);
    color: var(--headerColor);
    height: 36px;
    width: 100%;
    text-align: center;
    line-height: 32px;
    /* border-top: 1px solid var(--headerBorder); */
    border-bottom: 1px solid var(--headerBorder);
}

.work-panel {
    position: absolute;
    top: 37px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: var(--workPanelBackground);
}