<mat-table #table [dataSource]="dataSource" matSort>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{'device.list-name' | translate}} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{'device.list-address' | translate}} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.adr}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" class="data-table-header" [style.height.px]="tableStyle.headerHeight"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="data-table-row" [style.height.px]="tableStyle.rowHeight"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[10, 25, 100]" [pageSize]="25" class="data-table-paginator"></mat-paginator>