<mat-table #table [dataSource]="dataSource" [style.backgroundColor]="tableOptions.row.background" matSort>
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <th *matHeaderCellDef mat-sort-header [style.minWidth.px]="columnsStyle[column].width" [ngClass]="columnsStyle[column].align"
            [style.color]="tableOptions.header.color" [style.fontSize.px]="tableOptions.header.fontSize">
            {{ columnsStyle[column].label }}
        </th>
        <td *matCellDef="let element; index as i" [style.minWidth.px]="columnsStyle[column].width" [style.textAlign]="columnsStyle[column].align"
             [style.color]="tableOptions.row.color" [style.fontSize.px]="tableOptions.row.fontSize" class="data-table-row-cell"> 
            {{getCellValue(element[column], i, column)}} 
        </td>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" class="data-table-header" [style.height.px]="tableOptions.header.height"
        [style.backgroundColor]="tableOptions.header.background" [style.borderBottomColor]="tableOptions.gridColor" 
        [style.display]="(tableOptions.header.show) ? 'flex' : 'none'"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="data-table-row" [style.height.px]="tableOptions.row.height"
        [style.backgroundColor]="tableOptions.row.background" [style.borderBottomColor]="tableOptions.gridColor"></mat-row>
</mat-table>
<mat-paginator *ngIf="tableOptions.paginator.show" [pageSizeOptions]="[10, 25, 100]" [pageSize]="25" class="data-table-paginator" [style.color]="tableOptions.row.color"></mat-paginator>