.header-panel {
    /* z-index: 9999 !important; */
    top: 0px;
    left: 0px;
    background-color: rgba(33,33,33,1);
    /* background-color: rgba(33,33,33,0.92); */
    color: rgba(255,255,255,1);
    height: 40px;
    width: 100%;
    text-align: center;
    line-height: 40px;
}

.device-btn {
    height: 34px;
    width: 34px;
    min-width: unset !important;
    padding:unset !important;
    line-height: 34px;
    margin-left: 5px;
    margin-right: 5px;
    float: right;
}
  
.device-btn mat-icon {
    font-size: 24px;
    height: unset;
    width: unset;
}

.work-panel {
    position: absolute;
    top: 40px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
}

.mat-table {
    overflow: auto;
    /* min-width: 1500px; */
    height: 100%;
}
  
.mat-header-cell.mat-sort-header-sorted {
    /* color: black; */
}

.mat-row {
    min-height: 34px;
    height: 34px;
    border-bottom-color: rgba(0,0,0,0.06);
}

.mat-cell {
    font-size: 13px;
}

.mat-cell /deep/ .mat-checkbox-inner-container {
    height: 16px;
    width: 16px;
    margin-left: 2px;
}

.mat-header-row {
    top: 0;
    position: sticky;
    z-index: 1;
    /* background-color: rgba(0,0,0,0.7); */
    background-color: rgb(30, 30, 30);
    color: white;
}
.mat-header-cell {
    color: white;
    font-size: 13px;
}

.mat-column-toogle {
    overflow: visible;
    flex: 0 0 40px;
}

.mat-column-name {
    flex: 0 0 220px;
}

.mat-column-address {
    flex: 0 0 380px;
}

.mat-column-device {
    flex: 0 0 220px;
}

.mat-column-select {
    flex: 0 0 40px;
}

.my-header-filter /deep/ .mat-sort-header-button {
    display: block;
    text-align: left;
    margin-top: 5px;
}

.my-header-filter /deep/ .mat-sort-header-arrow {
    color: white;
    top: -12px;
    right: 20px;
}

.my-header-filter-input {
    display: block; 
    margin-top: 4px;
    margin-bottom: 6px;
    background-color: rgb(51, 51, 51);
    color: white;
    border: 0px solid rgba(51, 51, 51);
}