<div style="width: 100%;height: 100% !important;position: absolute;">
    <div class="header-panel">
        {{'device.list-title' | translate}}
    </div>
    <div class="work-panel">
        <app-device-list [hidden]="!showMode.startsWith(tagsViewMode)" #devicelist (goto)="gotoDevices(false)" [readonly]="readonly"></app-device-list>
        <app-device-map [hidden]="!showMode.startsWith(devicesViewMode)" #devicemap [mode]="showMode" (goto)="gotoList($event)" [readonly]="readonly"></app-device-map>
    </div>
</div>
<button mat-icon-button [matMenuTriggerFor]="optionsgMenu" class="fab-reload" style="right: 50px !important">
    <mat-icon>more_vert</mat-icon>
</button>
<input type="file" #fileImportInput style="display: none" id="devicesConfigFileUpload" (change)="onFileChangeListener($event)" accept=".json,.csv" />
<mat-menu #optionsgMenu [overlapTrigger]="false">
    <button mat-menu-item [matMenuTriggerFor]="export" style="font-size: 14px;">{{'devices.export' | translate}}</button>
    <mat-menu #export="matMenu" xPosition="before">
        <button mat-menu-item (click)="onExport('json')">{{'devices.export-json' | translate}}</button>
        <button mat-menu-item (click)="onExport('csv')">{{'devices.export-csv' | translate}}</button>
      </mat-menu>
    <mat-divider class="menu-separator"></mat-divider>
    <button mat-menu-item (click)="onImport()" style="font-size: 14px;">{{'devices.import' | translate}}</button>
</mat-menu>
<button mat-icon-button (click)="onReload()" class="fab-reload" [ngClass]="{'fab-reload-active': reloadActive}">
    <mat-icon>autorenew</mat-icon>
</button>
<button mat-icon-button *ngIf="showMode.startsWith(devicesViewMode)" (click)="gotoDevices(true)" class="fab-reload" style="right: 90px !important">
    <mat-icon *ngIf="showMode.startsWith(devicesViewList)" matTooltip="{{'devices.mode-map' | translate}}">device_hub</mat-icon>
    <mat-icon *ngIf="showMode.startsWith(devicesViewMap)" matTooltip="{{'devices.mode-list' | translate}}">view_list</mat-icon>
</button>
<button *ngIf="!readonly" mat-fab color="primary" (click)="addItem()" class="fab-add">
    <mat-icon class="">add</mat-icon>
</button>