<div class="header-panel" *ngIf="ineditor">
  <button mat-button title="Save Project" [matMenuTriggerFor]="prjview" class="main-btn">
    <mat-icon aria-label="Save Project">save</mat-icon>
  </button>
  <mat-menu #prjview="matMenu" class="leftbar-item-menu header-menu" yPosition="below" [overlapTrigger]="false">
    <button mat-menu-item (click)="onNewProject()">New Project</button>
    <mat-divider class="menu-separator"></mat-divider>
    <button mat-menu-item (click)="onSaveProject()">Save Project</button>
    <button mat-menu-item (click)="onSaveProjectAs()">Save Project As...</button>
    <mat-divider class="menu-separator"></mat-divider>
    <button mat-menu-item (click)="onOpenProject();$event.stopPropagation()">Open Project</button>
    <!-- <button mat-menu-item (click)="onImportVariable();$event.stopPropagation()">Import Variable</button> -->
    <input type="file" #fileImportInput style="display: none" id="projectFileUpload" (change)="onFileChangeListener($event)"
      accept=".fuxap" />
  </mat-menu>
  <button mat-button title="View pages editor" class="main-btn" (click)="goTo('/editor')">
      <mat-icon aria-label="View pages editor">widgets</mat-icon>
  </button>
  <button mat-button title="View Devices settings" class="main-btn" (click)="goTo('/device')">
      <mat-icon aria-label="View Devices settings">device_hub</mat-icon>
  </button>  
</div>
<div class="header-help">
    <button mat-button title="Help" [matMenuTriggerFor]="helpmenu" class="device-btn" style="padding-top: 3px !important;">
        <mat-icon aria-label="Show FUXA Help">help_outline</mat-icon>
    </button>
    <mat-menu #helpmenu="matMenu" class="leftbar-item-menu header-menu" yPosition="below" [overlapTrigger]="false">
        <button mat-menu-item (click)="onShowHelp('help')">Tutorial</button>
        <mat-divider class="menu-separator"></mat-divider>
        <button mat-menu-item (click)="onShowHelp('info')">Info</button>
    </mat-menu>
</div>
<app-tutorial #tutorial></app-tutorial>
