
.header-panel {
    z-index: 99 !important;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: var(--headerBackground);
    color: var(--headerColor);
    height: 36px;
    width: 200px;
}

.header-right {
    z-index: 99 !important;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: var(--headerBackground);
    color: var(--headerColor);
    height: 36px;
    width: 120px;
}

.header-help {
    float: right;
    height: 36px;
    width: 36px;
    margin-right: 20px;
}

.header-theme {
    float: right;
    height: 36px;
    width: 36px;
    margin-right: 5px;
}

.main-btn {
    height: 34px;
    width: 34px;
    min-width: unset !important;
    padding:unset !important;
    line-height: 34px;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .main-btn mat-icon {
    font-size: 24px;
    height: unset;
    width: unset;
  }

.header-menu {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2); 
}

.header-icon {
    padding: 0 14px;
}

.menu-separator {
    border-top-color: rgba(0,0,0,0.2);
}

::ng-deep .mat-menu-item {
    font-size: 11px;
    height: 30px !important;
    line-height: unset !important;
  }