
.header-panel {
    z-index: 1000 !important;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(33,33,33,0.92);
    color: rgba(255,255,255,1);
    height: 40px;
    width: 200px;
}

.header-help {
    z-index: 9999 !important;
    position: fixed;
    top: 0px;
    right: 25px;
    /* background-color: rgba(33,33,33,0.92); */
    color: rgba(255,255,255,1);
    height: 36px;
    width: 36px;

}

.main-btn {
    height: 34px;
    width: 34px;
    min-width: unset !important;
    padding:unset !important;
    line-height: 34px;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .main-btn mat-icon {
    font-size: 24px;
    height: unset;
    width: unset;
  }

.header-menu {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2); 
}

.header-icon {
    padding: 0 14px;
}

.menu-separator {
    border-top-color: rgba(0,0,0,1);
}

::ng-deep .leftbar-item-menu {
    background-color: rgba(47,47,47,1);
}
::ng-deep .mat-menu-item {
    font-size: 11px;
    color: rgba(255,255,255,1);
    height: 30px !important;
    line-height: unset !important;
  }