.title {
    padding: 5px 10px 5px 20px;
    font-size: 22px;
    font-weight: bold;
 }
 
 .my-expansion-panel {
    margin: 0px;
 }
 
 .header {
 }
 .header mat-panel-title {
    font-size: 20px;
    font-weight: 100;
 }
 