
::ng-deep .mat-tab-label {
    height: 34px !important;
    padding: 0;
}

.tabs-container {
    min-height: 500px;
    min-width: 620px;
}

.tabs-container .tab-system {
    min-width: 320px;
}

.tabs-container .tab-smtp {
    padding-right: 10px;
}

.tabs-container .tab-daq {
    padding-right: 10px;
}

.tabs-container .tab-alarms {
    padding-right: 10px;
}

.input-row {
    width: 100%;
}

.system-input {
    width: 320px;
}