:host {
    .element-property{
        width: 100%;
    }
    .properties-container {
        display: block;
        width: 100%;

    }

    .field-block {
        width: 100%;
        mat-select, input, span {
            width:calc(100% - 15px);
        }
    }

    .folder-selection {
        width:calc(100% - 65px);
        input, span {
            width: 100%;
        }
    }

    .permissions-section {
        display: block;
        width: 100%;
    }

    .permission-item {
        width: 40%;
        span {
            display: block;
        }
        mat-checkbox {
            margin-right: 8px;
        }
    }

    .my-form-field {
        .input-color {
            border: none;
            background: rgba(255, 255, 255, 0.1);
            border-radius: 3px;
        }
    }

    .theme-colors-section {
        display: block;
        width: 100%;
        margin-top: 16px;
    }
}