
.container {

    min-width: 550px;
    .sel-type {
        width: 407px;
    }
    .row-input {
        width: 400px;
    }

    .schedulig-list {
        max-height: 500px;
        overflow: auto;
    }
}