<div style="position: relative;">
    <h1 mat-dialog-title style="display:inline-block;cursor:move;" mat-dialog-draggable>{{'table.customize-title' | translate}}</h1>
    <mat-icon (click)="onNoClick()" class="dialog-close-btn">clear</mat-icon>
    <div mat-dialog-content>
        <mat-table #table [dataSource]="dataSource" matSort style="width: 800px; height: 500px">
            <ng-container *ngFor="let column of displayedColumns; index as i" [matColumnDef]="column">
                <mat-header-cell *matHeaderCellDef >
                    <span>{{ column }}</span>                    
                    <span>{{getColumnSettings(i)}} </span>
                    <button mat-icon-button [matMenuTriggerFor]="optionsgMenu" class="options">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #optionsgMenu [overlapTrigger]="false">
                        <button mat-menu-item (click)="onEditColumn(column)" style="font-size: 14px;">{{'table.customize-column-edit' | translate}}</button>
                        <button mat-menu-item (click)="onRemove(column)" style="font-size: 14px;">{{'table.customize-column-remove' | translate}}</button>
                    </mat-menu>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span>{{element[column]}} </span>
                    <span>{{getColumnSettings(element, column)}} </span>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns" class="data-table-header"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <div class="toolbox">
            <button mat-icon-button (click)="onAddColumn()" matTooltip="{{'table.customize-column-add' | translate}}">
                <mat-icon>add_circle_outline</mat-icon>
            </button>
        </div>
    </div>
    <div mat-dialog-actions class="dialog-action">
        <button mat-raised-button (click)="onNoClick()" cdkFocusInitial>{{'dlg.cancel' | translate}}</button>
        <button mat-raised-button color="primary" (click)="onOkClick()">{{'dlg.ok' | translate}}</button>
    </div>
</div>