:host {
    .my-form-field {
        display: block;
        margin-bottom: 8px;
    }

    .my-form-field mat-form-field {
        width: 100%;
    }

    .my-form-field .mat-select-trigger, .my-form-field .mat-select-value {
        color: inherit !important;
    }
    /* ::ng-deep .customer-table .mat-table {
        background-color: transparent !important;
        overflow: auto;
        display: block;
    } */

    .toolbox-column {
        z-index: 1000;
        position: absolute;
        right: 10px;
        top: 40px;
    }

    .parameters-table .toolbox-column {
        top: 120px;
    }

    .toolbox-column button {
        margin-left: 10px;
    }

    .toolbox-row {
        z-index: 1000;
        position: absolute;
        left: 0px;
        bottom: -50px;
    }

    .toolbox-row button {
        margin-left: 10px;
    }

    .data-table-header {
        min-height: 0px;
    }

    .column-options {
        margin-left: 10px;
        margin-right: 20px;
    }

    .data-table-edit-row {
        max-width: 40px;
        min-width: 40px;
        width: 40px;
        height: 40px;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: -24px;
    }

    .data-table-cell {
        white-space: nowrap;
        overflow: hidden;
    }

    .types-section {
        .types-main {
            display: flex;
            align-items: center;
            gap: 8px;
            flex-wrap: nowrap;
        }
        .types-assign .align-checkbox {
            transform: translateY(0px);
        }
        .select-wrapper {
            flex: 1 1 auto;
            min-width: 180px;
            max-width: 640px;
            width: auto;
        }
        .types-actions {
            display: flex;
            align-items: center;
            gap: 6px;
            white-space: nowrap;
            flex: 0 0 auto;
        }
        .types-desc {
            margin-top: 8px;
        }
    }
    .my-form-field mat-select {
        width: 100%;
    }

    .data-table-edit-row button {
        width: 40px;
    }

    .text-row-blank {
        min-height: 36px;
        display: block;
        width: 100%;
        background: transparent; 
    }

    .text-row-hidden {
        display: none !important;
        padding: 0 !important;
        border: 0 !important;
        height: 0 !important;
    }

    .variable-input {
        display: block;
        margin-top: 10px;
    }

    .table-menu-item {
        font-size: 14px;
    }
}
::ng-deep .table-menu-item .mat-icon {
    font-size: 20px;
}