:host {
    .container {
        width: 700px;
    }

    .item-block {
        display: block;
        mat-select, input, span {
            width:calc(100% - 5px);
        }    
    }

    .slider-field span {
        padding-left: 2px;
        text-overflow: clip;
        max-width: 125px;
        white-space: nowrap;
        overflow: hidden;
    }
    
    .slider-field mat-slider {
        background-color: var(--formSliderBackground);
        height: 30px;
    }

    .toolbox {
        float: right;
        line-height: 44px;
    }
    
    .toolbox button {
        /* margin-right: 8px; */
        margin-left: 10px;
    }    

    
}

::ng-deep .mat-dialog-container {
    display: inline-table !important;
}

::ng-deep .mat-tab-label {
  height: 34px !important;
}

.mat-tab-container {
  min-height:300px;
  height:60vmin;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 15px;
}

.mat-tab-container > div {
  display: block;
}