:host {
    .container {
        position: absolute;
        top: 35px;
        bottom: 0px;
        overflow: auto;
        width: calc(100% - 10px);
        padding-top: 5px;
    }

    .my-form-field {
        .input-color {
            border: none;
            background: rgba(255, 255, 255, 0.1);
            border-radius: 3px;
        }
    }

    .loading-hint {
        font-size: 11px;
        opacity: 0.5;
        margin-top: 4px;
    }
}
