
.slider {
    display:inline-block; 
    width: 100px;
}

.gauge {
    display: inline-block;
    position: absolute;
    top: 0px;
    width: 360px;
    height: 350px;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 70px;
}

.gauge-select {
    width: 280px; 
    text-align: center;
}

.gauge-view {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 280px; 
    height: 220px;
    margin-top: -5px;
    padding-top: 30px;
}

.btn-gauge {
    z-index: 99;
    display: inline-block;
    width: 50px;
    height:38px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-gauge-mat {
    background: url('/assets/images/gauge-mat.png') no-repeat center center;
}

.btn-gauge-donut {
    background: url('/assets/images/gauge-donut.png') no-repeat center center;
} 

.btn-gauge-zone {
    background: url('/assets/images/gauge-zone.png') no-repeat center center;
}

.toolbox {
    /* display: inline-block; */
    /* width: 460px; */
    position: absolute;
    /* bottom: 0px; */
    /* left: 0px; */
    width: 100%;
    height: 310px;
}

.toolbox-left {
    display: inline-block;
    width: 460px;
    padding-top: 20px;
}

.toolbox-right {
    width: 300px;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 270px;
}

.toolbox-det {
    display: inline-block;
    width: 312px;
    height: 300px;
    position: absolute;
    top: 15px;
    right: 0px;
}

.slider-field span {
    padding-left: 2px;
    text-overflow: clip;
    max-width: 125px;
    white-space: nowrap;
    overflow: hidden;
}

.slider-field mat-slider {
    background-color: #f1f3f4;
    height: 30px;
}

.field-row {
    display: block;
    margin-bottom: 5px;
}

.color-field input {
    padding: 0 !important;
    height: 29px;
}
