:host {
    .container {
        max-width: 1020px;
        width: 100%;
        min-width: 700px;
        margin: 0 auto;

        .loading-spinner {
            display: flex;
            justify-content: center;
            padding: 16px 0;
        }

        .header {
            background-color: rgba(88, 88, 88, 0.3);
        }
        .content {
            padding: 5px 5px 5px 5px;
            .content-item {
                display: inline-flex;
                margin: 8px;
                padding: 4px;
                width: 120px;
                height: 120px;
                box-sizing: border-box;
                position: relative;
                justify-content: center;
                border-radius: 4px;
                border: 1px solid transparent;

                &.item-exists {
                    border-color: #1976d2;
                }

                .download-icon {
                    position: absolute;
                    bottom: 0px;
                    right: 4px;
                    cursor: pointer;
                    font-size: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: rgba(255, 255, 255, 0.7);
                }

                .download-icon:hover {
                    color: #000;
                }
            }
            .content-item:hover {
                background-color: rgba(182, 182, 182, 0.3);
            }
            .content-item img {
                display: block;
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
                object-fit: contain;
                margin: 0 auto;
                padding-bottom: 15px;
            }
        }
        .widget-panel {
            background-color: rgba(65, 65, 65, 0.3);
        }
    }
}