
.fuxa-view-dialog {
    position: relative;
    .dialog-modal-close {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 22px;
        width: 100%;
        color: rgba(0, 0, 0, 0.7);
        // background-color: transparent;
        font-size: 12px;
        // cursor: move !important;
    
        i {
            float: right;
        }
    }
}